<template>
  <div
    :class="{
      'answer-button': true, '--active': active, '--bounce': wrong, '--fixed': fixed, '--disabled': disabled
    }"
    @click="emits('button-click')"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
      <circle cx="6" cy="6.5" r="5.5" fill="white" stroke="#C8CDD0"/>
      <circle cx="6" cy="6.5" r="3" fill="#DE234B" v-if="active"/>
      <circle cx="6" cy="6.5" r="3" fill="#490FE7" v-if="fixed"/>
    </svg>
    <span v-html="$t(label)"></span>
  </div>
</template>

<script setup>
import { inject } from 'vue'

const $t = inject('translate')

const emits = defineEmits(['button-click'])

defineProps({
  active: {
    required: true,
    type: Boolean,
  },
  label: {
    required: true,
    type: String,
  },
  wrong: {
    required: false,
    type: Boolean,
  },
  fixed: {
    required: false,
    type: Boolean
  },
  disabled: {
    required: false,
    type: Boolean
  }
})
</script>
