<template>
  <div
    class="banner-standard fixed bottom-20 flex flex-nowrap items-center justify-between space-x-8 px-6 py-4"
  >
    <div>
      <p class="headline-20" v-text="$t(title)" />
      <p class="main-text-16" v-text="$t(text)" />
    </div>
    <button-banner @click="emits('label-click')" :label="label" />
  </div>
</template>

<script setup>
import { inject } from 'vue'
import ButtonBanner from './ButtonBanner.vue'

const $t = inject('translate')

const emits = defineEmits(['label-click'])

defineProps({
  title: {
    required: true,
    type: String,
  },
  text: {
    required: true,
    type: String,
  },
  label: {
    required: true,
    type: String,
  },
})
</script>
