<template>
  <button class="button-banner h-min w-min px-4 py-2">
    <span
      class="button-banner__label headline-16 whitespace-nowrap"
      v-text="$t(label)"
    />
  </button>
</template>

<script setup>
import { inject } from 'vue'

const $t = inject('translate')

defineProps({
  label: {
    required: true,
    type: String,
  },
})
</script>
