<template>
  <button
    class="button-final headline-20 h-min w-min px-6 py-3"
    :class="{ 'button-final--disabled': disabled }"
  >
    <span
      class="button-final__label headline-20 whitespace-nowrap"
      v-text="$t(label)"
    />
  </button>
</template>

<script setup>
import { inject } from 'vue'

const $t = inject('translate')

defineProps({
  label: {
    required: true,
    type: String,
  },
  disabled: {
    default: false,
    type: Boolean,
  },
})
</script>
