<template>
  <button
    class="button-base headline-16 flex h-min w-min flex-col flex-nowrap px-4 py-2"
    :class="{
      'button-base--submitted': submitted,
      'button-base-enabled': !submitted && !disabled,
      'button-base--disabled': disabled,
    }"
  >
    <span
      class="button-base__label headline-16 whitespace-nowrap"
      :class="{ 'h-0 opacity-0': submitted }"
      v-text="$t(label)"
    />
    <span
      v-show="submitted"
      class="button-base__label headline-16 whitespace-nowrap"
      v-text="$t(submittedText)"
    />
  </button>
</template>

<script setup>
import { inject } from 'vue'

const $t = inject('translate')

defineProps({
  label: {
    type: String,
    required: true,
  },
  submitted: {
    type: Boolean,
    default: false,
  },
  submittedText: {
    type: String,
    default: '',
  },
  disabled: {
    default: false,
    type: Boolean,
  },
})
</script>
