<template>
  <div
    class="informer-popup absolute left-1/2 top-2 flex -translate-x-1/2 px-3 py-2.5"
    :style="
      error
        ? ''
        : '--border-color: #08b585; --shadow-blur: rgba(2, 136, 99, 0.28)'
    "
  >
    <img
      :src="error ? $m('/images/ui/attention.svg') : $m('/images/ui/info.svg')"
      alt="Informer icon"
      class="informer-popup__icon"
    />
    <div class="ml-2 space-y-0.5">
      <p class="headline-12" v-text="$t(title)" />
      <p class="footnote-12" v-text="$t(text)" />
    </div>
    <img
      :src="$m('/images/ui/close.svg')"
      alt="Close icon"
      class="informer-popup__close-icon ml-3 self-start"
      @click="emits('close')"
    />
  </div>
</template>

<script setup>
import { inject, onMounted } from 'vue'

const $t = inject('translate')
const $m = inject('media')

defineProps({
  title: {
    required: true,
    type: String,
  },
  text: {
    required: true,
    type: String,
  },
  error: {
    default: true,
    type: Boolean,
  },
})

const emits = defineEmits(['close'])

onMounted(() => {
  setTimeout(() => {
    emits('close')
  }, 6000)
})
</script>
