<template>
  <div>
    <div class="modal-dialog-scrim fixed left-0 top-0 h-full w-full" />
    <div
      :style="{width: width + 'px'}"
      class="modal-dialog absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 space-x-1 p-5"
    >
      <slot />
    </div>
  </div>
</template>

<script setup>
import { inject } from 'vue'

defineProps({
  width: {
    required: true,
    type: Number,
  }
})

const $t = inject('translate')
const $m = inject('media')

</script>
