#metalurg {
  .cooling {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 16px;
    position: relative;
    padding: 24px;
    &__left {
      padding: 20px 24px 120px 24px;
      position: relative;
      &__title {
        margin: 4px 0 12px 0;
      }
      &__text {
        color: $black-600;
        margin-bottom: 24px;
      }
      &__order {
        border-radius: 8px;
        background: #E7DFFC;
        padding: 12px;
        color: $black-600;
        ._title {
          font-weight: 700;
          color: $black;
        }
      }
      &__hint {
        padding: 12px 16px;
        color: $black-800;
        border-radius: 6px;
        border: 1px dashed var(--violet-50);
        position: absolute;
        bottom: 24px;
        left: 24px;
        width: calc(100% - 48px);
      }
    }
    &__right {
      position: relative;
      background: linear-gradient(10deg, rgba(191, 197, 201, 0.81) -13.92%, rgba(151, 161, 167, 0.39) 72.04%, rgba(156, 164, 169, 0.74) 138.37%), #FFF;
      padding: 0;
      height: calc(100vh - 48px);
      max-height: calc(var(--max-h) - 48px);
      &__head {
        background-color: var(--violet-50);
        padding-top: 77px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 130px - 44px - 48px);
        max-height: calc(var(--max-h) - 130px - 44px - 48px);
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 44px;
        width: 100%;
        background-color: var(--violet-50);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 6px rgba(56, 11, 179, 1) solid;
      }
    }
    &__continue-btn {
      position: absolute;
      bottom: 28px;
      right: 0;
      z-index: 2;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 9px 24px;
      font-size: 20px;
      font-weight: 700;
      --border-color: var(--violet-50);
      --bg-color: #E7DFFC;
      --shadow-flat: #9978F3;
      --shadow-blur: rgba(153, 120, 243, 0.80);
    }
  }

  .cooling-task-wrap {
    position: relative;
    padding: 24px;
  }
  .cooling-task {
    padding: 20px 24px 16px 24px;
    display: grid;
    grid-template-columns: 296px 1fr;
    &__left {
      position: relative;
      padding-bottom: 120px;
    }
    &__right {
      display: flex;
      justify-content: center;
      height: calc(100vh - 48px - 40px);
      max-height: calc(var(--max-h) - 48px - 40px);
      position: relative;
      img {
        width: 764px;
        @media screen and (max-width: 1280px) {
          width: 654px;
        }
      }
    }
    &__title {
      margin: 4px 0 16px 0;
    }
    &__order {
      border-radius: 8px;
      background: #E7DFFC;
      padding: 12px;
      color: $black-600;
      strong {
        font-weight: 700;
        color: $black;
      }
    }
    &__choose {
      margin-top: 16px;
      background: linear-gradient(271deg, rgba(217, 217, 217, 0.40) 4.5%, rgba(255, 255, 255, 0.00) 66.95%), linear-gradient(97deg, rgba(215, 212, 225, 0.40) -0.35%, rgba(255, 255, 255, 0.36) 42.68%), rgba(156, 188, 255, 0.50);
      box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
      padding: 16px;
      border-radius: 8px;
      &__title {
        margin-bottom: 24px;
      }
      .answer-button + .answer-button {
        margin-top: 8px;
      }
      .button-simple {
        margin-top: 24px;
      }
    }
    &__hint {
      padding: 12px 16px;
      color: $black-800;
      border-radius: 6px;
      border: 1px dashed var(--violet-50);
      position: absolute;
      bottom: 24px;
      left: 0;
      width: calc(100% - 48px);
      max-width: 230px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }
  }

  .cooling-mark-cards {
    border-radius: 16px;
    background: $white-600;
    padding: 32px 32px 19px;
    &__items {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 9px;
      &__item {
        border-radius: 8px;
        border: 1px dashed var(--violet-50);
        background: $white;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        font-style: normal;
        font-weight: 800;
        line-height: 140%;
        color: var(--violet-50);
        position: relative;
        ._hover {
          border-radius: 10px;
          border: 1px solid #7438F9;
          background: #E7DFFC;
          position: absolute;
          top: -12px;
          left: -12px;
          padding: 12px;
          z-index: 10;
          display: none;
          ._num {
            border-radius: 8px;
            background: var(--violet-50);
            border: 1px var(--violet-50) solid;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 70px;
            font-style: normal;
            font-weight: 800;
            line-height: 140%;
            color: $white;
          }
          ._text {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            color: $black-800;
            margin: 16px 0 0;
          }
        }
        &:hover {
          ._hover {
            display: block;
          }
        }
      }
    }
    &__title {
      color: $black-800;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      margin: 24px 0 8px 0;
    }
    &__text {
      color: $black-800;
      font-family: Mulish;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      max-width: 423px;
    }
  }

  .dialog-cooling-final {
    display: grid;
    grid-template-columns: 1fr 340px;
    &__content {
      padding: 32px 40px;
      &__title {
        margin: 0;
      }
      &__text {
        margin: 20px 0 40px;
      }
    }
    &__art {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

  }

  .cooling-task-info-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -246px 0 0 -282px;
    &__item {
      border: 4px dashed var(--violet-50);
      background: rgba(255, 255, 255, 0.30);
      width: 276px;
      height: 240px;
      position: relative;
      &__tooltip {
        border-radius: 8px;
        border: 1px solid #7438F9;
        background: $white;
        position: absolute;
        padding: 16px 24px 8px;
        color: $black-600;
        min-width: 368px;
        min-height: 144px;
        z-index: 5;
        display: none;
        .headline-16 {
          line-height: 15px;
          margin-bottom: 12px;
        }
        .headline-12 {
          font-weight: 400;
        }
      }
      &--1 {
        .cooling-task-info-blocks__item__tooltip {
          left: 100%;
          top: 40px;
        }
      }
      &--2 {
        .cooling-task-info-blocks__item__tooltip {
          right: 100%;
          top: 40px;
        }
      }
      &--3 {
        .cooling-task-info-blocks__item__tooltip {
          right: -16px;
          top: -85%;
        }
      }
      &--4 {
        .cooling-task-info-blocks__item__tooltip {
          left: -16px;
          top: -85%;
        }
      }
      &:hover {
        background: none;
        border-color: transparent;
        .cooling-task-info-blocks__item__tooltip {
          display: block;
        }
      }
    }
  }

  .modal-cooling .modal-dialog {
    padding: 0;
    border-radius: 12px;
    min-height: 276px;
  }
}

