#metalurg {
  .heat {
    display: grid;
    grid-template-columns: 303px 1fr;
    grid-gap: 16px;
    grid-template-areas:
      'header header'
      'left right';
    position: relative;
    padding: 24px;
    &__header {
      grid-area: header;
      &__title {
        margin: 0 0 4px 0;
      }
    }
    &__block-1 {
      &__text {
        color: $black-600;
        margin: 12px 0 0;
        strong {
          font-weight: 700;
        }
      }
      &__answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        margin: 20px 0 12px;
      }
    }
    &__block-2 {
      padding: 20px;
      &__text {
        color: $black-600;
        margin: 12px 0 0;
      }
    }
    &__block-3 {
      margin-top: 16px;
      padding: 20px;
      &__route {
        margin: 12px 0 0;
      }
    }

    .modal-dialog {
      padding: 0;
      border-radius: 12px;
    }

    .dialog-final {
      display: grid;
      grid-template-columns: 0.6fr 0.4fr;
      &__content {
        padding: 32px 22px 32px 40px;
        &__title {
          margin: 0;
        }
        &__text {
          margin: 20px 0 52px;
          p + p {
            margin-top: 16px;
          }
        }
      }
      &__art {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  .heat-tasks-route-item {
    display: flex;
    align-items: center;
    &__num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      min-width: 36px;
      height: 36px;
      border-radius: 50px;
      border: 2px solid var(--Violet-02, #C2AEF7);
      margin-right: 12px;
      svg {
        display: none;
      }
    }
    &.--active {
      .heat-tasks-route-item__num {
        border: 2px solid var(--Violet-04---Brand-color, #7438F9);
        background: var(--Violet-02, #C2AEF7);
      }
    }
    &.--passed {
      .heat-tasks-route-item__num {
        border: 2px solid #00B612;
        background: #EAF7DC;
        span {
          display: none;
        }
        svg {
          display: inline;
        }
      }
    }
  }
  .heat-tasks-route-item + .heat-tasks-route-item {
    margin-top: 20px;
  }

  .heat-graph-panel {
    height: calc(100vh - 48px - 84px - 16px);
    max-height: calc(var(--max-h) - 48px - 84px - 16px);
    display: flex;
    justify-content: center;
    padding: 46px 0 16px;
    position: relative;
    img {
      height: 100%;
    }
    &__hint {
      position: absolute;
      top: 24px;
      right: 16px;
      border-radius: 8px;
      background: #F1F5F6;
      padding: 20px 16px;
      width: 230px;
      &__title {
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
      }
      &__text {
        margin-top: 12px;
        color: $black-600;
      }
    }
    &__main-graph-box {
      height: calc(100% - 70px - 47px);
      position: relative;
      ._corner-lt {
        position: absolute;
        top: -10px;
        white-space: nowrap;
        right: calc(100% + 16px);
      }
      ._corner-lb {
        position: absolute;
        bottom: -37px;
        white-space: nowrap;
        right: calc(100% + 16px);
      }
      ._corner-rb {
        position: absolute;
        bottom: -37px;
        white-space: nowrap;
        right: -16px;
      }
      ._axis {
        position: absolute;
        top: 50%;
        margin-top: -130px;
        right: calc(100% + 16px);
        padding-top: 10px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 37px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: $black-200;
      }
      ._answers-1 {
        display: flex;
        gap: 50px;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: calc(100% + 16px);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        color: $black-600;
        >div {
          width: 67px;
          text-align: center;
          border-radius: 6px;
          padding: 6px 0;
          border: 2px solid var(--violet-20);
          background: var(--white-100, #FFF);
          cursor: pointer;
          transition: .3s ease;
          &.--active,
          &:hover {
            border: 2px solid var(--violet-50);
            background: var(--violet-10);
          }
          &.--disabled {
            pointer-events: none;
            border-color: transparent;
            background-color: transparent;
            color: $black-200;
          }
        }
      }
    }
    &__main-graph {
      height: 100%;
    }
    &__last-question {
      position: absolute;
      bottom: 24px;
      right: 16px;
      border-radius: 8px;
      border: 3px solid var(--violet-50);
      background: $white;
      box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
      width: 303px;
      padding: 20px;
      ._title {
        color: $black;
        margin-bottom: 12px;
      }
      ._text {
        color: $black-600;
        margin-bottom: 20px;
      }
      ._answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        margin-bottom: 12px;
      }
    }
  }

  .banner-standard {
    bottom: 16px;
    left: 50%;
    margin-left: -371px;
  }
}