#metalurg {

  .intro {
    padding: 42px 60px 24px 90px;

    &__box {
      position: relative;
      width: 100%;
      height: calc(100vh - 66px);
      max-height: calc(var(--max-h) - 66px);
      border-radius: 8px;
      box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
    }
    &__slider {
      position: absolute;
      top: -18px;
      left: -56px;
      width: 558px;
      z-index: 0;
      .swiper {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #e1e7eb;
        border-radius: 8px;
        box-shadow: 0 8px 22px 0 rgba(13, 14, 14, 0.06);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .swiper-slide {
        width: 100%;
        padding: 32px 56px;
        &__text {
          color: $black-600;
          font-weight: 400;
          line-height: 19px;
          font-size: 16px;
          margin: 20px 0;
        }
      }
      .swiper-slide__text:not(:last-child) {
        margin-bottom: 16px;
      }
      .swiper-btns {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 27px;
      }
      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        cursor: pointer;
        left: auto;
        right: auto;
        margin: 0;
        width: 30px;
        height: 30px;
      }
      .swiper-button-disabled {
        opacity: 0 !important;
      }
      .swiper-button-prev::before {
        position: absolute;
        content: '';
        top: 8px;
        left: -4px;
        transform: rotate(-55deg);
        width: 16px;
        height: 2px;
        background-color: var(--violet-50);
      }
      .swiper-button-prev::after {
        position: absolute;
        content: '';
        bottom: 8px;
        left: -4px;
        transform: rotate(55deg);
        width: 16px;
        height: 2px;
        background-color: var(--violet-50);
      }
      .swiper-button-next::before {
        position: absolute;
        content: '';
        top: 8px;
        right: -4px;
        transform: rotate(55deg);
        width: 16px;
        height: 2px;
        background-color: var(--violet-50);
      }
      .swiper-button-next::after {
        position: absolute;
        content: '';
        bottom: 8px;
        right: -4px;
        transform: rotate(-55deg);
        width: 16px;
        height: 2px;
        background-color: var(--violet-50);
      }
      .swiper-pagination-bullet {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $white-400;
        cursor:pointer;
        &-active{
          background: var(--violet-50);
        }
      }
      .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 6px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -25px);
      }
    }
    
    &__btn {
      position: absolute;
      bottom: 28px;
      right: -36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 16px 24px;
      font-size: 20px;
      font-weight: 700;
      --border-color: var(--violet-50);
      --bg-color: #E7DFFC;
      --shadow-flat: #9978F3;
      --shadow-blur: rgba(153, 120, 243, 0.80);
    }
  }

  .dialog-start {
    &__description {
      margin-top: 8px;
      color: $black-600;
    }
    &__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      margin-top: 24px;
      p {
        font-weight: 700;
        line-height: 19px;
        font-size: 16px;
        color: $black;
      }
      span {
        display: block;
        font-weight: 400;
        line-height: 15px;
        color: $black-600;
        font-size: 12px;
        margin-top:8px;
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      margin-top: 12px;
      margin-bottom: 16px;
      li {
        border-radius: 4px;
        border: 1px solid #490FE7;
        background: #F5F1FF;
        height: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-weight: 400;
          line-height: 15px;
          font-size: 12px;
          text-align: center;
          display: block;
          color: $black-200;
        }
        p {
          font-weight: 700;
          line-height: 19px;
          font-size: 16px;
          margin-top:6px;
          color: $black;
          text-align: center;
        }
      }
    }
    button {
      border-radius: 4px;
      border: 1px solid #490FE7;
      background: #490FE7;
      width: 100%;
      padding: 10px 16px 12px 16px;
      font-weight: 700;
      line-height: 19px;
      font-size: 16px;
      color: $white;
      transition: 0.3s;
      &:hover {
        background: #5c26ef;
      }
    }
  }
  .modal-dialog {
    padding: 20px;
  }
}