#metalurg {
  .process {
    height: 100vh;
    max-height: var(--max-h);
    max-width: 1280px;
    padding: 0;
    position: relative;
    &__header {
      &__title {
        margin: 0 0 4px 0;
      }
    }
    .button-final {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 9px 24px;
      font-size: 20px;
      font-weight: 700;
      --border-color: var(--violet-50);
      --bg-color: #E7DFFC;
      --shadow-flat: #9978F3;
      --shadow-blur: rgba(153, 120, 243, 0.80);
    }

    .modal-dialog {
      padding: 0;
      border-radius: 12px;
      min-height: 276px;
    }
    .dialog-final {
      display: grid;
      grid-template-columns: 1fr 340px;
      width: 100%;
      &__content {
        padding: 32px 22px 32px 40px;
        &__title {
          margin: 0;
        }
        &__text {
          margin: 20px 0 40px;
        }
      }
      &__art {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }
  .process {
    --left-start: 150px;
    @media screen and (max-width: 1280px) {
      --left-start: 50px;
    }
    .step-1 {
      height: 100vh;
      max-height: var(--max-h);
      background-color: $white;
      padding: 28px 24px 24px;
      position: relative;
      &__title {
        color: $black;
        margin-bottom: 12px;
      }
      &__text {
        color: $black-600;
        max-width: 400px;
      }
      &__info-activate {
        position: absolute;
        top: 24px;
        right: 54px;
        cursor: pointer;
      }
      &__base {
        position: absolute;
        bottom: 24px;
        left: 24px;
        width: calc(100% - 48px);
        height: calc(35% + 60px);
        z-index: 0;
        background-color: $black-600;
        border-top: 60px solid $black;
        &::before {
          content: '';
          position: absolute;
          top: -60px;
          left: 0;
          width: 100%;
          border-top: 4px dashed $white-800;
        }
        &__brick {
          position: absolute;
          width: 44px;
          height: 180px;
          bottom: calc(100% - 30px);
          left: var(--left-start);
          background-color: $black-200;
        }
        &__scheme-top {
          position: absolute;
          left: calc(var(--left-start) + 44px + 20px);
          bottom: calc(100% + 28px);
          width: calc(100% - var(--left-start) - 44px - 20px);
          @media screen and (max-width: 1280px) {
            bottom: calc(100% + 18px);
          }
        }
        &__scheme-bottom {
          position: absolute;
          left: calc(var(--left-start) + 44px + 20px);
          top: -28px;
          width: calc(100% - var(--left-start) - 44px - 20px);
        }
      }
      &__next {
        position: absolute;
        right: 48px;
        bottom: 48px;
      }

      .process-question-card {
        border-radius: 6px;
        background: $white;
        box-shadow: 0px 6px 16px 0px rgba(126, 126, 126, 0.10);
        width: 17%;
        min-width: 240px;
        position: absolute;
        z-index: 1;
        &--1 {
          left: 80px;
          @media screen and (max-width: 1280px) {
            left: 20px;
          }
          top: calc(-60px - 43px);
        }
        &--2 {
          left: calc(var(--left-start) + 44px + 17%);
          top: calc(-60px - 43px - 63%);
          @media screen and (max-width: 1620px) {
            top: calc(-60px - 43px - 58%);
          }
        }
        &--3 {
          left: calc(var(--left-start) + 44px + 46%);
          top: calc(-60px - 43px - 63%);
          @media screen and (max-width: 1620px) {
            top: calc(-60px - 43px - 58%);
          }
        }
        &--4 {
          right: 40px;
          top: calc(-60px - 43px);
        }
        &--5 {
          left: calc(var(--left-start) + 44px + 17%);
          top: 60px;
          @media screen and (max-width: 1500px) {
            top: 30px;
          }
        }
        &--6 {
          left: calc(var(--left-start) + 44px + 46%);
          top: 60px;
          @media screen and (max-width: 1500px) {
            top: 30px;
          }
        }
        &__title {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          padding: 12px 16px;
          background: var(--violet-5, #F5F1FF);
        }
        &__body {
          padding: 20px 16px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 8px;
          grid-row-gap: 12px;
          border-top: 1px solid var(--violet-20);
          &__way {
            border-radius: 101px;
            border: 1px solid var(--violet-10);
            background: $white;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            color: $black;
            text-align: center;
            padding: 7px 16px;
            cursor: pointer;
            &.--q {
              border: 2px dashed var(--violet-50);
              background: var(--violet-10);
            }
            &.--disabled {
              opacity: .2;
            }
          }
          .button-simple {
            grid-column: span 2;
            margin-top: 8px;
          }
          .answer-button {
            padding: 8px 10px;
          }
        }
        &.--disabled {
          .process-question-card__title {
            background-color: $white-800;
          }
        }
      }
    }

    .step-2 {
      padding: 16px 24px;
      .panel {
        padding: 22px 24px;
      }
      &__columns {
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-gap: 16px;
        margin-top: 16px;
        .panel {
          height: calc(100vh - 48px - 16px - 96px);
          max-height: calc(var(--max-h) - 48px - 16px - 96px);
          position: relative;
        }
      }
      &__left-text {
        color: $black-600;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 24px;
        strong {
          font-weight: 700;
        }
      }
      &__left-order {
        color: $black;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        padding: 12px;
        border-radius: 8px;
        background: var(--violet-10);
        strong {
          font-weight: 700;
        }
        span {
          color: $black-600;
        }
      }
      &__left-img {
        position: absolute;
        bottom: 22px;
        left: 24px;
        width: calc(100% - 48px);
      }
      .banner-standard {
        bottom: 66px;
      }
    }
  
    .step-2-quiz {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 172px;
      @media screen and (max-width: 1620px) {
        grid-template-rows: 1fr 120px;
      }
      grid-gap: 16px;
      grid-template-areas:
        'a b c'
        'footer footer footer';
      height: 100%;
      max-width: 820px;
      &__task-4 {
        grid-area: footer;
        &--active {
          background: linear-gradient(271deg, rgba(217, 217, 217, 0.40) 4.5%, rgba(255, 255, 255, 0.00) 66.95%), linear-gradient(97deg, rgba(215, 212, 225, 0.40) -0.35%, rgba(255, 255, 255, 0.36) 42.68%), rgba(156, 188, 255, 0.50) !important;
          box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06) ;
          .step-2-quiz__task-title {
            margin-bottom: 0;
          }
          .step-2-quiz__task-answers {
            position: relative;
            bottom: auto;
            left: auto;
            width: auto;
            display: flex;
            gap: 6px;
            margin-top: 12px;
            align-items: flex-end;
            position: relative;
            .answer-button {
              width: 140px;
            }
            .answer-button + .answer-button {
              margin-top: 0;
            }
            .button-simple {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 140px;
              background: $white;
              border-color: $white;
              color: $black;
              box-shadow: 0px 4px 10px 0px rgba(0, 72, 95, 0.20);
            }
          }
        }
        ._blank img {
          @media screen and (max-width: 1620px) {
            max-width: 75%;
          }
        }
      }
      &__task-2, &__task-3 {
        height: 100%;
        flex-grow: 1;
        ._blank img {
          max-width: 348px;
          @media screen and (max-width: 1620px) {
            max-width: 220px;
          }
        }
      }
      >div {
        border-radius: 8px;
        border: 1px solid $white-600;
        background: $white;
        padding: 20px;
        position: relative;
      }
      &__task-1, &__task-2, &__task-3 {
        ._container {
          padding-bottom: 192px !important;
        }
      }
      &__task-2, &__task-3 {
        @media screen and (max-width: 1620px) {
          .step-2-quiz__task-title {
            margin-bottom: 8px;
          }
          ._container {
            padding-bottom: 180px !important;
          }
        }
      }
      ._blank {
        img {
          width: 100%;
          &._btn {
            width: 12%;
            position: absolute;
            bottom: 20px;
            right: 20px;
          }
        }
      }
      &__task-title {
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 46px;
        span {
          color: $black-200;
        }
      }
      &__task-text {
        color: $black-600;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
      }
      &__task-answers {
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        position: absolute;
        .answer-button + .answer-button {
          margin-top: 6px;
        }
        .button-simple {
          margin-top: 12px;
          &.--disabled {
            background-color: $white-600;
            border-color: #e1e7eb;
            color: $black;
          }
        }
      }
    }

    .legend-popup {
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 12px;
      border: 1px solid var(--violet-50);
      background: $white;
      box-shadow: 0px 4px 28px 0px #7662BD;
      padding: 12px 40px 12px 12px;
      &__data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 11px;
        grid-column-gap: 24px;
        overflow: hidden;
        padding: 0 12px;
        &__head {
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
        }
        &__body {
          color: $black;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: calc(100% + 5px);
            left: -12px;
            width: calc(100% + 24px);
            height: 1px;
            background-color: $white-600;
          }
        }
      }
      &__close {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
      }
    }

    .step-3 {
      padding: 16px 24px;
      &__header {
        display: grid;
        grid-template-columns: 1fr 454px;
        grid-gap: 10px;
      }
      &__body {
        position: relative;
        height: calc(100vh - 80px - 32px - 16px);
        max-height: calc(var(--max-h) - 80px - 32px - 16px);
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        .button-final {
          position: absolute;
          bottom: 24px;
          right: 24px;
        }
        ._spark {
          animation: moveSpark 0.82s cubic-bezier(.36,.07,.19,.97) both;
        }
        ._crane {
          animation: moveCrane 0.82s cubic-bezier(.36,.07,.19,.97) both;
          transform: translate3d(0, -70px, 0);
        }
        ._edge-num {
          cursor: pointer;
          transition: .3s ease;
          &.--disabled {
            opacity: .5;
            pointer-events: none;
          }
        }
      }
      &__discard {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 108px;
      }
    }
  }

  @keyframes moveCrane {
    0% {
      transform: translate3d(-35px, -90px, 0);
    }
    100% {
      transform: translate3d(0px, -70px, 0);
    }
  }
  @keyframes moveSpark {
    0% {
      transform: translate3d(-35px, -20px, 0);
    }
    100% {
      transform: translate3d(0px, 0px, 0);
    }
  }
}