#metalurg {
  .technology {
    display: grid;
    grid-template-columns: 280px 1fr 1fr;
    grid-gap: 24px;
    padding: 24px;
    position: relative;
    &__col-1 {
      padding: 24px;
      &__pre-title {
        color: $black-600;
      }
      &__title {
        color: $black;
        margin: 4px 0 12px;
      }
      &__text-1 {
        color: $black-600;
      }
      &__text-2 {
        margin: 8px 0 0;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
      }
    }
    &__col-2 {
      height: calc(100vh - 48px);
      max-height: calc(var(--max-h) - 48px);
    }
    &-qua{
      width: 414px;
      &__quiz{
        box-shadow: 0 8px 22px 0 rgba(13,14,14,.06);
        background: #fff;
        border-radius: 8px;
        width: 100%;
        height: 465px;
      }
      &__progress{
        box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
        background: $black-800;
        border-radius: 8px;
      }
      &__header{
        span{
          display: block;
          &:first-child{
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.36px;
            text-transform: uppercase;
            font-size: 12px;
            color: $white-600;
            font-style: italic;
          }
          &:last-child{
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            color: $white-600;
            font-size: 16px;
          }
        }
      }
      &__text{
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
        color: $white;
      }
      &__item{
        button{
          background: #9978F3;
          padding: 8px 18px;
          border-radius: 4px;
          font-weight: 600;
          line-height: normal;
          text-align: center;
          font-size: 16px;
          color: $white;
          border:1px solid transparent;
          transition: 0.3s;
          &:hover{
            border: 1px solid #6C3BF0;
            background: #E7DFFC;
            color: #6C3BF0;
          }
        }
      }
      &__submit{
        &:disabled{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 24px;
          height: 56px;
          font-size: 20px;
          font-weight: 600;
          background-color: $white-800;
          border-radius: 8px;
          border: 4px solid $white-200;
          box-shadow: -8px 8px 0 0 #C8CDD0;
          cursor: pointer;
          transition: .3s ease;
          width: calc(100% - 9px);
          margin-left: 9px;
        }
      }
    }

    .banner-standard {
      bottom: 56px;
    }
  }

  .technology-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    &__img {
      border-radius: 8px;
      filter: grayscale(100%);
      opacity: .5;
      transition: all .3s ease;
    }
    &__title {
      margin: 8px 0 1px;
      opacity: 0;
      transition: all .3s ease;
    }
    .--passed {
      .technology-items__img {
        filter: grayscale(0);
        opacity: 1;
      }
      .technology-items__title {
        opacity: 1;
      }
    }
  }

  .technology-quiz {
    &__questions {
      border-radius: 8px;
      background: $black-800;
      box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
      padding: 16px;
      min-height: 175px;
      &__progress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        line-height: normal;
        color: $white-600;
        ._left {
          font-size: 12px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 0.36px;
        }
        ._right {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.96px;
        }
      }
      &__desc {
        margin: 6px 0 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
      }
    }
    &__variants {
      margin: 16px 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      &__item {
        color: $white;
        background-color: var(--violet-40);
        border: 1px solid var(--violet-40);
        border-radius: 4px;
        margin: 0 0 4px 0;
        padding: 8px 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        &:hover {
          color: var(--violet-40);
          border: 1px solid var(--violet-50);
          background: var(--violet-10);
        }
        &.--passed {
          color: $white;
          background-color: $white-400;
          border: 1px solid $white-400;
        }
        &.--wrong {
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}