/*COLORS*/
$black: #080809;
$black-800: #1D1F20;
$black-600: #383A3C;
$black-400: #545758;
$black-200: #75797B;
$white-200: #A2ACB1;
$white-400: #C8CDD0;
$white-600: #E1E7EB;
$white-800: #F1F5F6;
$white: #FFF;

/*TYPOGRAPHY*/
.headline-32 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}
.headline-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}
.headline-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.headline-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}
.headline-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}
.main-text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.footnote-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

/*COMPONENTS*/
.modal-dialog {
  z-index: 99;

  background-color: $white;
  border-radius: 8px;

  max-width: 880px;
  width: 100%;
  min-height: 375px;

  &-scrim {
    opacity: 0.4;
    background-color: $black;
    z-index: 9;
  }

  .main-text-16 {
    color: $black-600
  }
  &__image {
    min-width: 339px;
  }
}

.button-final {
  border-radius: 8px;
  border: 4px solid var(--border-color, #32C0DF);
  background-color: var(--bg-color, #DCFEFE);
  box-shadow: -8px 8px 0px 0px var(--shadow-flat, #00B1A7), 0px 0px 12px 0px var(--shadow-blur, rgba(77, 255, 234, 0.80));
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: $white;
  }
  &--disabled {
    border: 4px solid $white-200;
    background-color: $white-800 !important;
    box-shadow: -8px 8px 0px 0px #C8CDD0;
  }
}

.button-base {
  border-radius: 6px;
  border: 1px solid var(--border-color, #088189);
  background: var(--bg-color, #00A1AA);

  &__label {
    color: $white;
  }

  &:hover {
    background: var(--bg-color-hover, #16BFC9);
  }

  &--disabled {
    border: 1px solid $white-400;
    background: $white-800;

    .button-base__label {
      color: $white-200
    }
    &:hover {
      background: $white-800;
    }
  }
  &--submitted {
    border-color: transparent !important;
    background: $white-600;

    .button-base__label {
      color: $black
    }
    &:hover {
      background: $white-600;
    }
  }
}

.button-banner {
  border-radius: 6px;
  background: $white;
  box-shadow: 0 4px 10px 0 rgba(0, 72, 95, 0.20);
}

.button-simple {
  border-radius: 6px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: $white;
  background-color: var(--bg-color, $black-800);
  border: 1px solid var(--border-color, #000);
  transition: .3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-color-hover, #000);
  }
  &.--disabled {
    background: $white-800;
    border-color: $white-800;
    color: $black-200;
    pointer-events: none;
  }
}

.informer-popup {
  z-index: 2;

  border-radius: 12px;
  border: 1px solid var(--border-color, #DE234B);
  background: $white;
  box-shadow: 0 4px 28px 0 var(--shadow-blur, rgba(136, 2, 2, 0.28));

  top: 8px;

  .footnote-12 {
    color: $black-600;
  }

  &__close-icon {
    cursor: pointer;
  }
}

.banner-standard {
  width: 743px;
  border-radius: 8px;
  background: linear-gradient(86.57deg, rgba(0, 199, 163, 0.4) -26.41%, rgba(255, 255, 255, 0) 74.32%),
  linear-gradient(267.79deg, rgba(42, 228, 217, 0.4) -10.9%, rgba(255, 255, 255, 0) 58.87%),
  linear-gradient(0deg, #C5FBF8, #C5FBF8);
  .headline-20 {
    margin-bottom: 4px;
  }
}
