/** Imports from libs here
Like this @import './some.scss';
*/

@import './defaults.scss';
@import 'swiper/css';

@import 'screens/intro.scss';
@import 'screens/technology.scss';
@import 'screens/process.scss';
@import 'screens/cooling.scss';
@import 'screens/heat.scss';

#metalurg {
  background: #f1f5f6;
  height: 100vh;
  max-height: 720px;

  --violet-80: #250677;
  --violet-50: #6c3bf0;
  --violet-40: #9978f3;
  --violet-20: #c2aef7;
  --violet-10: #e7dffc;
  --max-h: 720px;

  .container {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }

  .panel {
    padding: 16px 24px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0px 8px 22px 0px rgba(13, 14, 14, 0.06);
  }

  .answer-button {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;

    display: flex;
    padding: 8px 16px 8px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 100px;
    border: 1px solid var(--border, #c2aef7);
    background: $white;

    svg {
      position: relative;
      top: 0.5px;
    }

    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: var(--violet-10);
    }

    &.--active {
      background: var(--violet-10);
    }

    &.--bounce {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
    }

    &.--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.--fixed {
      border: 1px solid var(--violet-50);
      background: var(--violet-80);
      color: $white;
      pointer-events: none;
    }
  }

  .button-simple {
    --bg-color: #6c3bf0;
    --border-color: #490fe7;
    --bg-color-hover: #490fe7;
  }

  .modal-dialog {
    .button-final {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 9px 24px;
      font-size: 20px;
      font-weight: 700;
      --border-color: #6c3bf0;
      --bg-color: #e7dffc;
      --shadow-flat: #9978f3;
      --shadow-blur: rgba(153, 120, 243, 0.8);
    }
  }

  @keyframes shake {

    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}