<template>
  <main>
    <section class="section cooling" v-if="localStep === 1">
      <div class="cooling__left panel">
        <div class="main-text-16">
          {{ $t('Часть 3') }}
        </div>
        <div class="cooling__left__title headline-24">
          {{ $t('Охлаждение') }}
        </div>
        <div class="cooling__left__text main-text-16">
          {{ $t('Ваша сталь чувствительна к флокенам — внутренним дефектам, возникающим при резком неравномерном охлаждении. Относится к легированным самозакаливающимся маркам стали.') }}
        </div>
        <div class="cooling__left__order main-text-16">
          <div class="_title">
            {{ $t('Заказ:') }}
          </div>
          <div>
            {{ $t('сталь 4Х5МФС, 200 тонн') }}
          </div>
        </div>
        <div class="cooling__left__hint main-text-16">
          {{ $t('Наведите мышкой на буквы и цифры, чтобы узнать свойства стали') }}
        </div>
      </div>
      <div class="cooling__right panel">
        <div class="cooling__right__head">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 936 46" fill="none">
            <path d="M1227.35 43H-116.808L-502.927 3H777.228L1227.35 43Z" fill="white"/>
            <path d="M1227.35 43H-116.808L-502.927 3H777.228L1227.35 43Z" fill="url(#paint0_linear_354_17171)"/>
            <path d="M1227.35 43H-116.808L-502.927 3H777.228L1227.35 43Z" stroke="#380BB3" stroke-width="6"/>
            <defs>
            <linearGradient id="paint0_linear_354_17171" x1="600.28" y1="-103.702" x2="-19.3036" y2="286.168" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E0E3E5"/>
              <stop offset="1" stop-color="#9AA3A8"/>
            </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="cooling__right__content">
          <div class="cooling-mark-cards">
            <div class="cooling-mark-cards__items">
              <div class="cooling-mark-cards__items__item">
                {{ $t('4') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('4') }}
                  </div>
                  <div
                    class="_text"
                    :style="{ minWidth: '258px' }"
                    v-html="$t('Первая цифра указывает массовую долю <strong>углерода</strong> в десятых долях процента, т.е. массовая доля углерода в стали примерно равна 0,4%')"
                  >
                  </div>
                </div>
              </div>
              <div class="cooling-mark-cards__items__item">
                {{ $t('Х') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('Х') }}
                  </div>
                  <div class="_text">
                    {{ $t('Cталь легирована хромом') }}
                  </div>
                </div>
              </div>
              <div class="cooling-mark-cards__items__item">
                {{ $t('5') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('5') }}
                  </div>
                  <div class="_text">
                    {{ $t('Массовая доля  хрома ≈ 5%') }}
                  </div>
                </div>
              </div>
              <div class="cooling-mark-cards__items__item">
                {{ $t('М') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('М') }}
                  </div>
                  <div class="_text">
                    {{ $t('Сталь легирована молибденом') }}
                  </div>
                </div>
              </div>
              <div class="cooling-mark-cards__items__item">
                {{ $t('Ф') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('Ф') }}
                  </div>
                  <div class="_text">
                    {{ $t('Сталь легирована ванадием') }}
                  </div>
                </div>
              </div>
              <div class="cooling-mark-cards__items__item">
                {{ $t('С') }}
                <div class="_hover">
                  <div class="_num">
                    {{ $t('С') }}
                  </div>
                  <div class="_text">
                    {{ $t('Сталь легирована кремнием') }}
                  </div>
                </div>
              </div>
            </div>
            <div class="cooling-mark-cards__title">
              {{ $t('Марка стали') }}
            </div>
            <div class="cooling-mark-cards__text">
              {{ $t('Каждая буква обозначает какой-то элемент, цифра — его объём в металле. Если вслед за буквой нет цифры, это означает, что массовая доля этого легирующего элемента примерно равна 1%.') }}
            </div>
          </div>
        </div>
        <span
          class="cooling__continue-btn button-final"
          @click="startTask"
        >{{ $t('Продолжить') }}</span>
      </div>
    </section>
    <section class="section" v-if="localStep === 2">
      <div class="panel cooling-task">
        <div class="cooling-task__left">
          <div class="main-text-16">
            {{ $t('Часть 3') }}
          </div>
          <div class="cooling-task__title headline-24">
            {{ $t('Охлаждение') }}
          </div>
          <div class="cooling-task__order main-text-16">
            <strong>{{ $t('Заказ:') }}</strong> {{ $t('сталь 4Х5МФС, 200 тонн') }}
          </div>
          <div class="cooling-task__choose">
            <div class="cooling-task__choose__title headline-16">
              {{  $t('Выберите один из способов охлаждения') }}
            </div>
            <AnswerButton
              :label="$t('Охлаждение на воздухе')"
              :active="taskAnswer === 1"
              :wrong="wrongAnswer && taskAnswer === 1"
              @button-click="setTaskAnswer(1)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('В студёной воде')"
              :active="taskAnswer === 2"
              :wrong="wrongAnswer && taskAnswer === 2"
              @button-click="setTaskAnswer(2)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('Охлаждение в колодцах')"
              :active="taskAnswer === 3"
              @button-click="setTaskAnswer(3)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('В термопечи')"
              :active="taskAnswer === 4"
              :wrong="wrongAnswer && taskAnswer === 4"
              @button-click="setTaskAnswer(4)"
            ></AnswerButton>
            <div class="button-simple" @click="confirmTaskAnswer">
              {{ $t('Выбрать') }}
            </div>
          </div>
          <div class="cooling-task__hint">
            {{ $t('Нажимите на каждый способ, чтобы узнать о нём подробнее ') }}
          </div>
        </div>
        <div class="cooling-task__right">
          <img :src="$m('/images/cooling-space.svg')" />
          <div class="cooling-task-info-blocks">
            <div class="cooling-task-info-blocks__item cooling-task-info-blocks__item--1">
              <div class="cooling-task-info-blocks__item__tooltip">
                <div class="headline-16">
                  {{ $t('В студёной воде') }}
                </div>
                <div class="headline-12">
                  {{ $t(`Водой и водными растворами для охлаждения пользуются,
                  закаливая изделия из углеродистых сталей, диаметр
                  или толщина которых находится в пределах 8–12 мм.`) }}
                </div>
              </div>
            </div>
            <div class="cooling-task-info-blocks__item cooling-task-info-blocks__item--2">
              <div class="cooling-task-info-blocks__item__tooltip">
                <div class="headline-16">
                  {{ $t('В термопечи') }}
                </div>
                <div class="headline-12">
                  {{ $t(`Этот способ по своему принципу ближе к термообработке.
                  Применяется для охлаждения небольшого количества проката (до 20 тонн) на малых станах,
                  требует больших затрат энергии на поддержание температуры в печи.`) }}
                </div>
              </div>
            </div>
            <div class="cooling-task-info-blocks__item cooling-task-info-blocks__item--3">
              <div class="cooling-task-info-blocks__item__tooltip">
                <div class="headline-16">
                  {{ $t('Охлаждение на воздухе') }}
                </div>
                <div class="headline-12">
                  {{ $t(`Используют для нелегированных и низколегированных марок стали, например,
                  3СП, С30, С45. Большинство рядовых сталей охлаждается на воздухе.
                  Скорость охлаждения на качество такой стали не влияет,
                  главное — положить прокат на сухую землю.`) }}
                </div>
              </div>
            </div>
            <div class="cooling-task-info-blocks__item cooling-task-info-blocks__item--4">
              <div class="cooling-task-info-blocks__item__tooltip">
                <div class="headline-16">
                  {{ $t('Охлаждение в колодцах') }}
                </div>
                <div class="headline-12">
                  {{ $t(`Этот способ используют для стали с высокой склонностью к образованию флокенов.
                  Колодец — по сути яма с крышкой, создающая эффект “термоса”, и охлаждение в нём идёт медленнее,
                  чем на воздухе.`) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Transition name="fade">
        <ModalDialog v-if="isModalOpen" :width="880" class="modal-cooling">
          <div class="dialog-cooling-final">
            <div class="dialog-cooling-final__content">
              <div class="dialog-cooling-final__content__title headline-32">
                {{ $t('В точку!') }}
              </div>
              <div class="dialog-cooling-final__content__text main-text-16">
                <p>
                  {{ $t('Только вот после охлаждения сталь нужно снова… нагревать! Только так можно снять внутреннее напряжение металла и добиться нужной твёрдости.') }}
                </p>
              </div>
              <span
                class="dialog-final__content__btn button-final"
                @click="nextStep"
              >Далее</span>
            </div>
            <div
              class="dialog-cooling-final__art"
              :style="`background: url(${$m(
                '/images/cooling-final.png'
              )}) center/cover no-repeat;`"
            >

            </div>
          </div>
        </ModalDialog>
    </Transition>
  </main>
</template>

<script setup>

import { inject, defineEmits, ref } from 'vue'

import ModalDialog from '../../ui/ModalDialog.vue'
import AnswerButton from '../../ui/AnswerButton.vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emit = defineEmits(['next'])

const localStep = ref(1)
const taskAnswer = ref(0)
const isModalOpen = ref(false)
const wrongAnswer = ref(false)

const startTask = () => {
  localStep.value = 2
}

const setTaskAnswer = (num) => {
  wrongAnswer.value = false
  taskAnswer.value = num
}

const confirmTaskAnswer = () => {
  wrongAnswer.value = false
  if (taskAnswer.value !== 3) {
    wrongAnswer.value = true
    return false
  } else isModalOpen.value = true
}

const nextStep = () => {
  window.localStorage.setItem('metalurg_block', '4')
  emit('next')
}

</script>