<template>
  <main>
    <section class="section heat">
      <div class="heat__header panel">
        <div class="heat__header__title main-text-16">
          {{ $t('Часть 4') }}
        </div>
        <div class="headline-24">
          {{ $t('Термообработка') }}
        </div>
      </div>
      <div>
        <div class="heat__block-1 panel" v-if="step === 1">
          <div class="headline-20">
            {{ $t('Сколько углерода в стали 4Х5МФС?') }}
          </div>
          <div class="heat__block-1__text main-text-16" v-html="$t(`
            В маркировке стали <strong>первая цифра</strong> говорит о том,
            какое в ней содержится количество углерода <strong>в десятых долях</strong>`)">
          </div>
          <div class="heat__block-1__answers">
            <AnswerButton
              :label="$t('0,4%')"
              :active="block1Answer === 1"
              @button-click="setBlock1Answer(1)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('400%')"
              :active="block1Answer === 2"
              :wrong="wrongAnswer && block1Answer === 2"
              @button-click="setBlock1Answer(2)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('40%')"
              :active="block1Answer === 3"
              :wrong="wrongAnswer && block1Answer === 3"
              @button-click="setBlock1Answer(3)"
            ></AnswerButton>
            <AnswerButton
              :label="$t('5%')"
              :active="block1Answer === 4"
              :wrong="wrongAnswer && block1Answer === 4"
              @button-click="setBlock1Answer(4)"
            ></AnswerButton>
          </div>
          <div class="button-simple" @click="confirmStep1">
            {{ $t('Выбрать') }}
          </div>
        </div>
        <div class="heat__block-2 panel" v-if="step === 2">
          <div class="headline-20">
            {{ $t('Выбрать температуру отжига') }}
          </div>
          <div class="heat__block-2__text footnote-12">
            {{ $t(`
            Отжиг — это вид термообработки. Чтобы «отжечь» металл,
            его снова нужно нагреть до определённой температуры,
            выдержать примерно 4-6 часов, а затем снова охладить.`) }}
          </div>
        </div>
        <div class="heat__block-3 panel" v-if="step === 2">
          <div class="headline-20">
            {{ $t('Порядок действий') }}
          </div>
          <div class="heat__block-3__route main-text-16">
            <div
              :class="{
                'heat-tasks-route-item': true,
                '--active': block2Stage === 1,
                '--passed': block2Stage > 1,
              }"
            >
              <span class="heat-tasks-route-item__num">
                <span>1</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M2 10.1014L7.48571 15.6667L18 5" stroke="#00B612" stroke-width="1.6"/>
                </svg>
              </span>
              {{ $t('Выберите содержание углерода на графике') }}
            </div>
            <div
              :class="{
                'heat-tasks-route-item': true,
                '--active': block2Stage === 2,
                '--passed': block2Stage > 2,
              }"
            >
              <span class="heat-tasks-route-item__num">
                <span>2</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M2 10.1014L7.48571 15.6667L18 5" stroke="#00B612" stroke-width="1.6"/>
                </svg>
              </span>{{ $t('Выберите линию А3') }}
            </div>
            <div
              :class="{
                'heat-tasks-route-item': true,
                '--active': block2Stage === 3,
                '--passed': block2Stage > 3,
              }"
            >
              <span class="heat-tasks-route-item__num">
                <span>3</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M2 10.1014L7.48571 15.6667L18 5" stroke="#00B612" stroke-width="1.6"/>
                </svg>
              </span>{{ $t('Найдите пересечение линий А3 с показателем углегрода') }}
            </div>
            <div
              :class="{
                'heat-tasks-route-item': true,
                '--active': block2Stage === 4,
                '--passed': block2Stage > 4,
              }"
            >
              <span class="heat-tasks-route-item__num">
                <span>4</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M2 10.1014L7.48571 15.6667L18 5" stroke="#00B612" stroke-width="1.6"/>
                </svg>
              </span>{{ $t('Найдите температуру этой точки и определите °С отжига') }}
            </div>
          </div>
        </div>
      </div>
      <div class="panel heat-graph-panel">
        <img :src="$m('/images/heat-blank-graph.svg')" v-if="step === 1" alt=""/>

        <div v-if="step === 2" class="heat-graph-panel__main-graph-box">
          <div class="_corner-lt headline-24">{{ $t('T,℃') }}</div>
          <div class="_corner-lb headline-24">{{ $t('Fe') }}</div>
          <div class="_corner-rb headline-24">{{ $t('C,%') }}</div>
          <div class="_axis">
            <span>900</span>
            <span>800</span>
            <span>700</span>
            <span>600</span>
            <span>500</span>
          </div>
        <svg class="heat-graph-panel__main-graph" height="409" viewBox="0 0 599 409" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            @click="selectLine('x6')"
            :stroke="(selectedLine==='x6'?'#6C3BF0':'#A2ACB1')"
            d="M4.78906 68.3018C25.8759 90.3018 67.5847 131.276 109.219 157.302C155.143 186.009 221.692 211.802 244.275 220.802" stroke="#A2ACB1" stroke-width="4"
          />
          <path
            @click="selectLine('x5')"
            :stroke="(selectedLine==='x5'?'#6C3BF0':'#A2ACB1')"
            d="M9.30638 60.7987C94.6587 140.299 147.928 175.088 244.775 210.302L481.75 8.80129" stroke="#A2ACB1" stroke-width="4"
          />
          <path
            @click="selectLine('x4')"
            :stroke="(selectedLine==='x4'?'#6C3BF0':'#A2ACB1')"
            d="M12.7715 54.3018C45.4938 85.8257 129.302 156.302 234.234 197.802" stroke="#A2ACB1" stroke-width="4"
          />
          <path
            @click="selectLine('x3')"
            :stroke="(selectedLine==='x3'?'#6C3BF0':'#A2ACB1')"
            d="M17.3441 45.6121C121.278 131.252 181.702 166.778 241.294 186.746L460.166 9.80185" stroke="#A2ACB1" stroke-width="4"
          />
          <path
            @click="selectLine('x2')"
            :stroke="(selectedLine==='x2'?'#6C3BF0':'#A2ACB1')"
            d="M2.27539 86.3018L21.8725 229.802M21.8725 229.802L2.27539 382.302M21.8725 229.802H597.726" stroke="#A2ACB1" stroke-width="4"
          />
          <path
            @click="selectLine('x1')"
            :stroke="(selectedLine==='x1'?'#6C3BF0':'#A2ACB1')"
            d="M249 230C296.733 189.971 323.508 167.529 371.24 127.5L511 13" stroke="#A2ACB1" stroke-width="4"
          />
          <path class="_a3" @click="selectLine('a3')"
            d="M5 78C40.5729 125.5 95.6858 180.5 249 229"
            :stroke="(selectedLine==='a3'?'#6C3BF0':'#A2ACB1')"
            stroke-width="4"
          />
          <path d="M312.468 187.302L303.793 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M303.118 187.302L294.443 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M293.441 192.438L285.422 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M321.577 187.302L312.902 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M330.682 187.302L322.008 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M339.794 187.302L331.119 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M348.901 187.302L340.227 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M358.007 187.302L349.332 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M367.118 187.302L358.443 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M376.223 187.302L367.549 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M385.331 187.302L376.656 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M394.442 187.302L385.768 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M403.55 187.302L394.875 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M412.657 187.302L403.982 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M421.768 187.302L413.094 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M430.876 187.302L422.201 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M439.983 187.302L431.309 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M449.093 187.302L440.418 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M458.2 187.302L449.525 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M467.309 187.302L458.635 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M476.419 187.302L467.744 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M485.526 187.302L476.852 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M494.634 187.302L485.959 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M503.741 187.302L495.066 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M512.848 187.302L504.174 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M521.958 187.302L513.283 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M531.067 187.302L522.393 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M540.175 187.302L531.5 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M549.284 187.302L540.609 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M558.391 187.302L549.717 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M567.499 187.302L558.824 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M576.608 187.302L567.934 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M585.716 187.302L577.041 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M594.825 187.302L586.15 207.302" stroke="#A2ACB1" stroke-width="2"/>
          <path d="M275.396 207.301H598.727" stroke="#A2ACB1" stroke-width="3"/>
          <path d="M299.453 187.302H598.726" stroke="#A2ACB1" stroke-width="3"/>
          <path d="M2.27539 1V406.597C187.709 406.429 598.275 407 598.275 407" stroke="black" stroke-width="4"/>
          
          <g v-if="block2Stage === 1">
            <rect x="78" y="262" width="68" height="49" rx="6" fill="white"/>
            <path d="M98 296L105.656 279.08H108.248L116 296H112.856L110.792 291.248L112.04 292.088H101.888L103.184 291.248L101.12 296H98ZM106.928 282.392L103.544 290.408L102.92 289.664H110.984L110.48 290.408L107.024 282.392H106.928Z" fill="#75797B"/>
            <path d="M117.464 296V293.984H119.84V287.936H120.848L117.704 289.64V287.36L120.488 285.848H122.264V293.984H124.304V296H117.464Z" fill="#75797B"/>
            <rect x="209" y="86" width="55" height="49" rx="6" fill="white"/>
            <path d="M230.872 120V117.72L236.488 111.864C237.192 111.128 237.712 110.448 238.048 109.824C238.384 109.2 238.552 108.56 238.552 107.904C238.552 107.088 238.296 106.472 237.784 106.056C237.272 105.64 236.528 105.432 235.552 105.432C234.768 105.432 234.016 105.576 233.296 105.864C232.576 106.136 231.872 106.568 231.184 107.16L230.176 104.856C230.864 104.248 231.712 103.76 232.72 103.392C233.744 103.024 234.816 102.84 235.936 102.84C237.76 102.84 239.16 103.248 240.136 104.064C241.112 104.88 241.6 106.048 241.6 107.568C241.6 108.624 241.352 109.632 240.856 110.592C240.36 111.536 239.592 112.528 238.552 113.568L233.872 118.248V117.432H242.272V120H230.872Z" fill="#75797B"/>
            <rect x="112" y="44" width="55" height="49" rx="6" fill="white"/>
            <path d="M134.664 78V75.432H138.552V63.672H140.04L135.048 66.648V63.72L139.44 61.08H141.648V75.432H145.296V78H134.664Z" fill="#75797B"/>
            <path d="M41 214L48.656 197.08H51.248L59 214H55.856L53.792 209.248L55.04 210.088H44.888L46.184 209.248L44.12 214H41ZM49.928 200.392L46.544 208.408L45.92 207.664H53.984L53.48 208.408L50.024 200.392H49.928Z" fill="#75797B"/>
            <path d="M63.488 214.12C62.704 214.12 61.984 214.04 61.328 213.88C60.688 213.704 60.136 213.456 59.672 213.136L60.152 211.384C60.568 211.656 61.04 211.864 61.568 212.008C62.096 212.152 62.656 212.224 63.248 212.224C63.808 212.224 64.248 212.12 64.568 211.912C64.888 211.688 65.048 211.36 65.048 210.928C65.048 210.528 64.896 210.24 64.592 210.064C64.288 209.872 63.88 209.776 63.368 209.776H61.352V208H63.08C63.608 208 64.016 207.896 64.304 207.688C64.592 207.48 64.736 207.176 64.736 206.776C64.736 206.408 64.592 206.128 64.304 205.936C64.032 205.728 63.632 205.624 63.104 205.624C62.608 205.624 62.104 205.712 61.592 205.888C61.096 206.048 60.672 206.264 60.32 206.536L59.792 204.76C60.224 204.44 60.76 204.192 61.4 204.016C62.04 203.84 62.744 203.752 63.512 203.752C64.616 203.752 65.488 203.992 66.128 204.472C66.768 204.952 67.088 205.6 67.088 206.416C67.088 207.072 66.872 207.624 66.44 208.072C66.024 208.504 65.504 208.784 64.88 208.912V208.648C65.632 208.728 66.232 208.984 66.68 209.416C67.128 209.848 67.352 210.44 67.352 211.192C67.352 212.104 66.992 212.824 66.272 213.352C65.552 213.864 64.624 214.12 63.488 214.12Z" fill="#75797B"/>
          </g>

          <path d="M434.22 144V141.86H437.46V132.06H438.7L434.54 134.54V132.1L438.2 129.9H440.04V141.86H443.08V144H434.22Z" fill="#75797B"/>
          <path d="M241 265.2C239.347 265.2 238.073 264.573 237.18 263.32C236.287 262.053 235.84 260.253 235.84 257.92C235.84 255.56 236.287 253.767 237.18 252.54C238.073 251.313 239.347 250.7 241 250.7C242.667 250.7 243.94 251.313 244.82 252.54C245.713 253.767 246.16 255.553 246.16 257.9C246.16 260.247 245.713 262.053 244.82 263.32C243.94 264.573 242.667 265.2 241 265.2ZM241 263.08C241.907 263.08 242.58 262.667 243.02 261.84C243.46 261 243.68 259.687 243.68 257.9C243.68 256.113 243.46 254.82 243.02 254.02C242.58 253.207 241.907 252.8 241 252.8C240.107 252.8 239.433 253.207 238.98 254.02C238.54 254.82 238.32 256.113 238.32 257.9C238.32 259.687 238.54 261 238.98 261.84C239.433 262.667 240.107 263.08 241 263.08ZM249.292 267.66L248.272 266.86C248.699 266.42 248.992 266.007 249.152 265.62C249.326 265.247 249.412 264.847 249.412 264.42L249.952 265H248.072V262.22H250.872V264.06C250.872 264.74 250.752 265.36 250.512 265.92C250.286 266.493 249.879 267.073 249.292 267.66ZM257.953 265.2C256.3 265.2 255.006 264.847 254.073 264.14C253.153 263.433 252.693 262.453 252.693 261.2C252.693 260.213 252.993 259.393 253.593 258.74C254.193 258.087 254.973 257.7 255.933 257.58V258C255.066 257.813 254.366 257.407 253.833 256.78C253.313 256.153 253.053 255.393 253.053 254.5C253.053 253.313 253.486 252.387 254.353 251.72C255.233 251.04 256.433 250.7 257.953 250.7C259.486 250.7 260.686 251.04 261.553 251.72C262.433 252.387 262.873 253.313 262.873 254.5C262.873 255.393 262.62 256.16 262.113 256.8C261.62 257.44 260.946 257.833 260.093 257.98V257.58C261.04 257.713 261.8 258.107 262.373 258.76C262.946 259.4 263.233 260.213 263.233 261.2C263.233 262.453 262.766 263.433 261.833 264.14C260.913 264.847 259.62 265.2 257.953 265.2ZM257.953 263.2C258.926 263.2 259.653 263.02 260.133 262.66C260.613 262.287 260.853 261.74 260.853 261.02C260.853 260.3 260.613 259.76 260.133 259.4C259.653 259.04 258.926 258.86 257.953 258.86C256.993 258.86 256.266 259.04 255.773 259.4C255.293 259.76 255.053 260.3 255.053 261.02C255.053 261.74 255.293 262.287 255.773 262.66C256.266 263.02 256.993 263.2 257.953 263.2ZM257.953 256.86C258.78 256.86 259.406 256.673 259.833 256.3C260.273 255.927 260.493 255.413 260.493 254.76C260.493 254.12 260.273 253.62 259.833 253.26C259.406 252.887 258.78 252.7 257.953 252.7C257.14 252.7 256.513 252.887 256.073 253.26C255.646 253.62 255.433 254.12 255.433 254.76C255.433 255.413 255.646 255.927 256.073 256.3C256.513 256.673 257.14 256.86 257.953 256.86Z" fill="#75797B"/>
          <path d="M456.72 265L463.56 252.16V253.06H456.08V250.9H465.94V252.82L459.54 265H456.72ZM468.552 265V263.1L473.232 258.22C473.819 257.607 474.252 257.04 474.532 256.52C474.812 256 474.952 255.467 474.952 254.92C474.952 254.24 474.739 253.727 474.312 253.38C473.886 253.033 473.266 252.86 472.452 252.86C471.799 252.86 471.172 252.98 470.572 253.22C469.972 253.447 469.386 253.807 468.812 254.3L467.972 252.38C468.546 251.873 469.252 251.467 470.092 251.16C470.946 250.853 471.839 250.7 472.772 250.7C474.292 250.7 475.459 251.04 476.272 251.72C477.086 252.4 477.492 253.373 477.492 254.64C477.492 255.52 477.286 256.36 476.872 257.16C476.459 257.947 475.819 258.773 474.952 259.64L471.052 263.54V262.86H478.052V265H468.552ZM480.704 265L487.544 252.16V253.06H480.064V250.9H489.924V252.82L483.524 265H480.704Z" fill="#75797B"/>

          <Transition name="fade">
            <path v-if="block2Stage >= 2" d="M69 202L117 169" stroke="#75797B" stroke-width="2"/>
          </Transition>

          <Transition name="fade">
            <g v-if="block2Stage === 3">
              <path d="M120 404L120 159" stroke="#6C3BF0" stroke-width="4" stroke-dasharray="8 8"/>
              <circle @click="selectCircle(2)" class="cursor-pointer" cx="120" cy="172" r="12" fill="#F7FEFE" stroke="#6C3BF0" stroke-width="2"/>
              <path d="M34 404L34 114" stroke="#6C3BF0" stroke-width="4" stroke-dasharray="8 8"/>
              <circle @click="selectCircle(1)" class="cursor-pointer" cx="34" cy="115" r="12" fill="#F7FEFE" stroke="#6C3BF0" stroke-width="2"/>
              <path d="M206 404L206 218" stroke="#6C3BF0" stroke-width="4" stroke-dasharray="8 8"/>
              <circle @click="selectCircle(3)" class="cursor-pointer" cx="206" cy="218" r="12" fill="#F7FEFE" stroke="#6C3BF0" stroke-width="2"/>
            </g>
          </Transition>

          <Transition name="fade">
            <g v-if="block2Stage === 4">
              <path d="M120 402L120 168.5" stroke="#6C3BF0" stroke-width="4" stroke-dasharray="8 8"/>
              <path d="M115.5 173.5L2.5 173.5" stroke="#6C3BF0" stroke-width="4" stroke-dasharray="8 8"/>
            </g>
          </Transition>

          <Transition name="fade">
            <g v-if="block2Stage >= 2">
              <path d="M179 158L219 118" stroke="#75797B" stroke-width="2"/>
              
              <path v-if="block2Stage === 2" d="M74.5 128L117 84" stroke="#75797B" stroke-width="2"/>
              <path v-else d="M77 124L117 84" stroke="#75797B" stroke-width="2"/>

              <path d="M131 272L171 232" stroke="#75797B" stroke-width="2"/>
              <path d="M277.5 155L237.5 115" stroke="#75797B" stroke-width="2"/>
              <g @click="selectLine('')" class="cursor-pointer">
                <rect x="73" y="263" width="66" height="47" rx="5" fill="white"/>
                <path d="M92 296L99.656 279.08H102.248L110 296H106.856L104.792 291.248L106.04 292.088H95.888L97.184 291.248L95.12 296H92ZM100.928 282.392L97.544 290.408L96.92 289.664H104.984L104.48 290.408L101.024 282.392H100.928Z" fill="#1D1F20"/>
                <path d="M111.464 296V293.984H113.84V287.936H114.848L111.704 289.64V287.36L114.488 285.848H116.264V293.984H118.304V296H111.464Z" fill="#1D1F20"/>
              </g>

              <rect x="73" y="263" width="66" height="47" rx="5" stroke="#C2AEF7" stroke-width="2"/>
              
              <g @click="selectLine('')" class="cursor-pointer">
                <rect x="204" y="87" width="53" height="47" rx="5" fill="white"/>
                <path d="M224.872 120V117.72L230.488 111.864C231.192 111.128 231.712 110.448 232.048 109.824C232.384 109.2 232.552 108.56 232.552 107.904C232.552 107.088 232.296 106.472 231.784 106.056C231.272 105.64 230.528 105.432 229.552 105.432C228.768 105.432 228.016 105.576 227.296 105.864C226.576 106.136 225.872 106.568 225.184 107.16L224.176 104.856C224.864 104.248 225.712 103.76 226.72 103.392C227.744 103.024 228.816 102.84 229.936 102.84C231.76 102.84 233.16 103.248 234.136 104.064C235.112 104.88 235.6 106.048 235.6 107.568C235.6 108.624 235.352 109.632 234.856 110.592C234.36 111.536 233.592 112.528 232.552 113.568L227.872 118.248V117.432H236.272V120H224.872Z" fill="#1D1F20"/>
                <rect x="204" y="87" width="53" height="47" rx="5" stroke="#C2AEF7" stroke-width="2"/>
              </g>
              
              <g @click="selectLine('')" class="cursor-pointer">
                <rect x="107" y="45" width="53" height="47" rx="5" fill="white"/>
                <path d="M128.664 78V75.432H132.552V63.672H134.04L129.048 66.648V63.72L133.44 61.08H135.648V75.432H139.296V78H128.664Z" fill="#1D1F20"/>
                <rect x="107" y="45" width="53" height="47" rx="5" stroke="#C2AEF7" stroke-width="2"/>
              </g>
  
              <g v-if="block2Stage === 2" @click="selectLine('a3')" class="cursor-pointer">
                <rect x="11" y="195" width="66" height="47" rx="5" fill="white"/>
                <path d="M30 228L37.656 211.08H40.248L48 228H44.856L42.792 223.248L44.04 224.088H33.888L35.184 223.248L33.12 228H30ZM38.928 214.392L35.544 222.408L34.92 221.664H42.984L42.48 222.408L39.024 214.392H38.928Z" fill="#1D1F20"/>
                <rect x="11" y="195" width="66" height="47" rx="5" stroke="#C2AEF7" stroke-width="2"/>
              </g>
              <g v-else>
                <rect x="11" y="195" width="66" height="47" rx="5" fill="#E7DFFC"/>
                <path d="M30 228L37.656 211.08H40.248L48 228H44.856L42.792 223.248L44.04 224.088H33.888L35.184 223.248L33.12 228H30ZM38.928 214.392L35.544 222.408L34.92 221.664H42.984L42.48 222.408L39.024 214.392H38.928Z" fill="#080809"/>
                <rect x="11" y="195" width="66" height="47" rx="5" stroke="#6C3BF0" stroke-width="2"/>
              </g>

              <path d="M52.488 228.12C51.704 228.12 50.984 228.04 50.328 227.88C49.688 227.704 49.136 227.456 48.672 227.136L49.152 225.384C49.568 225.656 50.04 225.864 50.568 226.008C51.096 226.152 51.656 226.224 52.248 226.224C52.808 226.224 53.248 226.12 53.568 225.912C53.888 225.688 54.048 225.36 54.048 224.928C54.048 224.528 53.896 224.24 53.592 224.064C53.288 223.872 52.88 223.776 52.368 223.776H50.352V222H52.08C52.608 222 53.016 221.896 53.304 221.688C53.592 221.48 53.736 221.176 53.736 220.776C53.736 220.408 53.592 220.128 53.304 219.936C53.032 219.728 52.632 219.624 52.104 219.624C51.608 219.624 51.104 219.712 50.592 219.888C50.096 220.048 49.672 220.264 49.32 220.536L48.792 218.76C49.224 218.44 49.76 218.192 50.4 218.016C51.04 217.84 51.744 217.752 52.512 217.752C53.616 217.752 54.488 217.992 55.128 218.472C55.768 218.952 56.088 219.6 56.088 220.416C56.088 221.072 55.872 221.624 55.44 222.072C55.024 222.504 54.504 222.784 53.88 222.912V222.648C54.632 222.728 55.232 222.984 55.68 223.416C56.128 223.848 56.352 224.44 56.352 225.192C56.352 226.104 55.992 226.824 55.272 227.352C54.552 227.864 53.624 228.12 52.488 228.12Z" fill="#1D1F20"/>
            </g>
          </Transition>

          <Transition name="fade">
            <g v-if="block2Stage === 4">
              <circle cx="120" cy="172" r="12" fill="#F5F1FF" stroke="#6C3BF0" stroke-width="2"/>
              <circle cx="120" cy="172" r="5" fill="#6C3BF0" stroke="#6C3BF0" stroke-width="2"/>
            </g>
          </Transition>

          <path d="M457 12L476 12" stroke="#A2ACB1"/>
          <line x1="451" y1="18.5" x2="469" y2="18.5" stroke="#A2ACB1"/>
          <line x1="392" y1="66.5" x2="413" y2="66.5" stroke="#A2ACB1"/>
          <line x1="385" y1="72.5" x2="406" y2="72.5" stroke="#A2ACB1"/>
          <line x1="376" y1="78.5" x2="399" y2="78.5" stroke="#A2ACB1"/>
          <line x1="369" y1="84.5" x2="392" y2="84.5" stroke="#A2ACB1"/>
          <line x1="362" y1="90.5" x2="385" y2="90.5" stroke="#A2ACB1"/>
          <line x1="355" y1="96.5" x2="378" y2="96.5" stroke="#A2ACB1"/>
          <line x1="348" y1="102.5" x2="371" y2="102.5" stroke="#A2ACB1"/>
          <line x1="340" y1="108.5" x2="364" y2="108.5" stroke="#A2ACB1"/>
          <line x1="333" y1="114.5" x2="357" y2="114.5" stroke="#A2ACB1"/>
          <line x1="325" y1="120.5" x2="349" y2="120.5" stroke="#A2ACB1"/>
          <line x1="318" y1="126.5" x2="342" y2="126.5" stroke="#A2ACB1"/>
          <line x1="311" y1="132.5" x2="335" y2="132.5" stroke="#A2ACB1"/>
          <line x1="302" y1="138.5" x2="328" y2="138.5" stroke="#A2ACB1"/>
          <line x1="295" y1="144.5" x2="321" y2="144.5" stroke="#A2ACB1"/>
          <line x1="288" y1="150.5" x2="314" y2="150.5" stroke="#A2ACB1"/>
          <line x1="281" y1="156.5" x2="307" y2="156.5" stroke="#A2ACB1"/>
          <line x1="270" y1="162.5" x2="301" y2="162.5" stroke="#A2ACB1"/>
          <line x1="265" y1="168.5" x2="296" y2="168.5" stroke="#A2ACB1"/>
          <line x1="258" y1="174.5" x2="289" y2="174.5" stroke="#A2ACB1"/>
          <path d="M399.5 60L420 60" stroke="#A2ACB1"/>
          <path d="M407 54L428 54" stroke="#A2ACB1"/>
          <path d="M413.5 48L434 48" stroke="#A2ACB1"/>
          <path d="M422 42L441 42" stroke="#A2ACB1"/>
          <path d="M429.5 36L448 36" stroke="#A2ACB1"/>
          <line x1="437" y1="30.5" x2="455" y2="30.5" stroke="#A2ACB1"/>
          <line x1="444" y1="24.5" x2="462" y2="24.5" stroke="#A2ACB1"/>
          <line x1="21" y1="62.5" x2="39" y2="63.5" stroke="#A2ACB1"/>
          <path d="M29 68H47" stroke="#A2ACB1"/>
          <line x1="35" y1="74.5" x2="54" y2="75.5" stroke="#A2ACB1"/>
          <line x1="43" y1="80.5" x2="62" y2="81.5" stroke="#A2ACB1"/>
          <line x1="14" y1="55.5" x2="30" y2="56.5" stroke="#A2ACB1"/>
          <path d="M19.75 62.6084L9.5 75" stroke="#A2ACB1"/>
          <path d="M24.514 66.2636L14.0002 80.0002" stroke="#A2ACB1"/>
          <line x1="28.8752" y1="69.608" x2="17.9191" y2="83.8896" stroke="#A2ACB1"/>
          <line x1="33.3537" y1="73.3043" x2="22.3976" y2="87.5859" stroke="#A2ACB1"/>
          <line x1="37.3967" y1="77.9127" x2="26.4405" y2="92.1943" stroke="#A2ACB1"/>
          <line x1="42.1565" y1="81.5651" x2="31.2003" y2="95.8466" stroke="#A2ACB1"/>
          <line x1="45.7874" y1="86.2883" x2="35.4079" y2="100.994" stroke="#A2ACB1"/>
          <line x1="50.6858" y1="89.7483" x2="40.3064" y2="104.454" stroke="#A2ACB1"/>
          <line x1="55.5901" y1="93.2092" x2="45.2107" y2="107.915" stroke="#A2ACB1"/>
          <line x1="60.4905" y1="96.6672" x2="50.111" y2="111.373" stroke="#A2ACB1"/>
          <line x1="65.3948" y1="100.127" x2="55.0153" y2="114.833" stroke="#A2ACB1"/>
          <path d="M70 104.5L59.8382 119.635" stroke="#A2ACB1"/>
          <line x1="74.2629" y1="107.544" x2="64.4503" y2="122.634" stroke="#A2ACB1"/>
          <path d="M79.7148 111.086L69.502 126.5" stroke="#A2ACB1"/>
          <path d="M84 115L73.1762 131.954" stroke="#A2ACB1"/>
          <path d="M89.0781 118.311L79 133.951" stroke="#A2ACB1"/>
          <line x1="93.2941" y1="122.187" x2="84.0408" y2="137.626" stroke="#A2ACB1"/>
          <path d="M99.002 126L88.6196 142.967" stroke="#A2ACB1"/>
          <path d="M104 129.5L93.7627 146.052" stroke="#A2ACB1"/>
          <path d="M109 132.5L98.9111 149.136" stroke="#A2ACB1"/>
          <path d="M113.5 135.999L104.057 152.221" stroke="#A2ACB1"/>
          <path d="M118.5 138.499L109.433 155.492" stroke="#A2ACB1"/>
          <path d="M123.162 142.396L114.502 158.5" stroke="#A2ACB1"/>
          <line x1="128.441" y1="145.235" x2="119.594" y2="161.877" stroke="#A2ACB1"/>
          <line x1="133.323" y1="148.781" x2="124.895" y2="164.686" stroke="#A2ACB1"/>
          <line x1="138.623" y1="151.591" x2="130.195" y2="167.496" stroke="#A2ACB1"/>
          <line x1="143.926" y1="154.399" x2="135.498" y2="170.304" stroke="#A2ACB1"/>
          <line x1="149.227" y1="157.209" x2="140.799" y2="173.114" stroke="#A2ACB1"/>
          <line x1="154.53" y1="160.018" x2="146.102" y2="175.923" stroke="#A2ACB1"/>
          <line x1="159.83" y1="162.828" x2="151.402" y2="178.733" stroke="#A2ACB1"/>
          <line x1="165.133" y1="165.636" x2="156.705" y2="181.541" stroke="#A2ACB1"/>
          <line x1="170.434" y1="168.446" x2="162.006" y2="184.351" stroke="#A2ACB1"/>
          <line x1="175.737" y1="171.256" x2="167.309" y2="187.161" stroke="#A2ACB1"/>
          <line x1="182.038" y1="173.065" x2="173.61" y2="188.97" stroke="#A2ACB1"/>
          <line x1="187.34" y1="175.874" x2="178.912" y2="191.779" stroke="#A2ACB1"/>
          <line x1="191.641" y1="179.683" x2="183.213" y2="195.588" stroke="#A2ACB1"/>
          <line x1="197.942" y1="181.493" x2="189.514" y2="197.398" stroke="#A2ACB1"/>
          <line x1="204.245" y1="183.301" x2="195.817" y2="199.206" stroke="#A2ACB1"/>
          <line x1="209.547" y1="186.111" x2="201.119" y2="202.016" stroke="#A2ACB1"/>
          <line x1="214.848" y1="188.921" x2="206.42" y2="204.826" stroke="#A2ACB1"/>
          <line x1="220.151" y1="191.729" x2="211.723" y2="207.634" stroke="#A2ACB1"/>
          <line x1="225.452" y1="194.539" x2="217.024" y2="210.444" stroke="#A2ACB1"/>
          <line x1="230.752" y1="197.348" x2="222.324" y2="213.253" stroke="#A2ACB1"/>
          <line x1="79" y1="112.5" x2="103" y2="113.5" stroke="#A2ACB1"/>
          <line x1="51" y1="87.5" x2="71" y2="88.5" stroke="#A2ACB1"/>
          <path d="M90 118L112 118" stroke="#A2ACB1"/>
          <path d="M58 93H76" stroke="#A2ACB1"/>
          <line x1="97" y1="124.5" x2="121" y2="125.5" stroke="#A2ACB1"/>
          <path d="M64.5 99L86 99" stroke="#A2ACB1"/>
          <line x1="107" y1="130.5" x2="131" y2="131.5" stroke="#A2ACB1"/>
          <line x1="71" y1="105.5" x2="95" y2="106.5" stroke="#A2ACB1"/>
          <line x1="114" y1="136.5" x2="138" y2="137.5" stroke="#A2ACB1"/>
          <line x1="124" y1="142.5" x2="148" y2="143.5" stroke="#A2ACB1"/>
          <line x1="134" y1="148.5" x2="158" y2="149.5" stroke="#A2ACB1"/>
          <line x1="145" y1="154.5" x2="169" y2="155.5" stroke="#A2ACB1"/>
          <line x1="153" y1="160.5" x2="181" y2="161.5" stroke="#A2ACB1"/>
          <line x1="165" y1="166.5" x2="193" y2="167.5" stroke="#A2ACB1"/>
          <line x1="178" y1="172.5" x2="206" y2="173.5" stroke="#A2ACB1"/>
          <line x1="191" y1="178.5" x2="219" y2="179.5" stroke="#A2ACB1"/>
          <line x1="202" y1="184.5" x2="230" y2="185.5" stroke="#A2ACB1"/>
          <line x1="250" y1="180.5" x2="281" y2="180.5" stroke="#A2ACB1"/>
          <line x1="241" y1="186.5" x2="272" y2="186.5" stroke="#A2ACB1"/>
          <path d="M222.5 192L268 192" stroke="#A2ACB1"/>
          <rect x="0.5" y="0.5" width="598" height="408" stroke="black"/>
        </svg>
          <div class="_answers-1">
            <div :class="{'--active': graphStep1Answer === 1}" @click="setGraphStep1Answer(1)">0,4</div>
            <div :class="{'--disabled': graphStep1Answer > 0 && graphStep1Answer === 1}" @click="setGraphStep1Answer(2)">0,5</div>
            <div :class="{'--disabled': graphStep1Answer > 0 && graphStep1Answer === 1}" @click="setGraphStep1Answer(3)">1</div>
            <div :class="{'--disabled': graphStep1Answer > 0 && graphStep1Answer === 1}" @click="setGraphStep1Answer(4)">1,5</div>
          </div>
        </div>

        <div v-if="step === 2" class="heat-graph-panel__hint">
          <div class="heat-graph-panel__hint__title" v-html="$t('Диаграмма<br>железо-углерод')">
          </div>
          <div class="heat-graph-panel__hint__text footnote-12">
            {{ $t('Отображение структуры сплавов, которое позволяет понять процессы, происходящие при термообработке стали.') }}
          </div>
        </div>

        <div class="heat-graph-panel__last-question" v-if="block2Stage > 3">
          <div class="_title headline-20">
            {{ $t('Определите °С отжига стали по диаграмме железо-углерод') }}
          </div>
          <div class="_text main-text-16">
            {{ $t('К найденной температуре прибавляем 40 °С') }}
          </div>
          <div class="_answers">
            <AnswerButton
              :label="$t('900 °С')"
              :active="lastBlockAnswer === 1"
              :wrong="wrongAnswer && lastBlockAnswer === 1"
              @button-click="setLastBlockAnswer(1)"
              :class="{'--disabled': block2Stage > 4}"
            ></AnswerButton>
            <AnswerButton
              :label="$t('820 °С')"
              :active="lastBlockAnswer === 2"
              @button-click="setLastBlockAnswer(2)"
              :class="{'--disabled': block2Stage > 4}"
            ></AnswerButton>
            <AnswerButton
              :label="$t('860 °С')"
              :active="lastBlockAnswer === 3"
              :wrong="wrongAnswer && lastBlockAnswer === 3"
              @button-click="setLastBlockAnswer(3)"
              :class="{'--disabled': block2Stage > 4}"
            ></AnswerButton>
            <AnswerButton
              :label="$t('700 °С')"
              :active="lastBlockAnswer === 4"
              :wrong="wrongAnswer && lastBlockAnswer === 4"
              @button-click="setLastBlockAnswer(4)"
              :class="{'--disabled': block2Stage > 4}"
            ></AnswerButton>
          </div>
          <div
            :class="{'button-simple': true, '--disabled': block2Stage > 4}"
            @click="confirmLastAnswer"
          >
            {{ $t('Выбрать') }}
          </div>
        </div>
      </div>


      <Transition name="fade">
        <ModalDialog v-if="isModalOpen" :width="880">
          <div class="dialog-final">
            <div class="dialog-final__content">
              <div class="dialog-final__content__title headline-32">{{ $t('Поздравляем!') }}</div>
              <div class="dialog-final__content__text main-text-16" v-html="$t(`
              <p>
                  Ваша сталь получилась что надо. Пробы металла показали, что флокенов и других дефектов не наблюдается. Прочность и твёрдость — идеальные, а кривизна и вовсе отсутствует. Прямо как нужно заказчику!
                </p>
                <p>
                  Но самое главное, что именно благодаря вашей работе вы, ваша семья и люди по всей стране могут жить с комфортом: ездить на автомобилях и трамваях, просыпаться в устойчивых многоэтажках, летать на самолетах и многое другое. Ведь конструкции и механизмы из металла окружают нас повсюду.
                </p>
              `)">
              </div>
              <span class="dialog-final__content__btn button-final">{{ $t('Далее') }}</span>
            </div>
            <div
              class="dialog-final__art"
              :style="`background: url(${$m(
                '/images/final-modal.png'
              )}) center/cover no-repeat;`"
            >

            </div>
          </div>
        </ModalDialog>
      </Transition>

      <Transition name="fade">
        <InformerPopup
          v-if="wrongAnswer"
          :width="880"
          :title="'Ой, это неверный вариант!'"
          :text="'Загляните в справочник, если не получается выбрать правильный ответ.'"
          :error="true"
          @close="hideError"
        >  
        </InformerPopup>
      </Transition>
    </section>

    <BannerStandard
      v-if="block2Stage > 4"
      :title="$t('Отлично, вы справились с заданием!')"
      :text="$t('Это было непросто, зато теперь ваш металл идеален. Такому позавидует сам Громозека!')"
      :label="$t('Далее')"
      @label-click="openModal"
    ></BannerStandard>
  </main>
</template>

<script setup>
import ModalDialog from '../../ui/ModalDialog.vue'
import InformerPopup from '../../ui/InformerPopup.vue'
import BannerStandard from '../../ui/BannerStandard.vue'
import AnswerButton from '../../ui/AnswerButton.vue'
import { inject, defineEmits, ref } from 'vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emit = defineEmits(['next'])

const isModalOpen = ref(false)

let step = ref(1)
let block1Answer = ref(0)
let lastBlockAnswer = ref(0)
let block2Stage = ref(1)
const wrongAnswer = ref(false)

const graphStep1Answer = ref(0)
const selectedLine = ref('')

const setBlock1Answer = (num) => {
  wrongAnswer.value = false
  block1Answer.value = num
}

const setGraphStep1Answer = (num) => {
  wrongAnswer.value = false
  graphStep1Answer.value = num
  if (num === 1) passStage()
  else {
    wrongAnswer.value = true
  }
}

const selectLine = (lineName) => {
  wrongAnswer.value = false
  if (block2Stage.value < 2) return false
  selectedLine.value = lineName
  if (lineName === 'a3' && block2Stage.value === 2) passStage()
  else if (block2Stage.value === 2) wrongAnswer.value = true
}

const selectCircle = (circleNum) => {
  wrongAnswer.value = false
  if (circleNum !== 2) {
    wrongAnswer.value = true
    return false
  } else if (block2Stage.value === 3) passStage()
}

const setLastBlockAnswer = (num) => {
  wrongAnswer.value = false
  lastBlockAnswer.value = num
}

const confirmStep1 = () => {
  if (block1Answer.value !== 1) {
    wrongAnswer.value = true
    return false
  }
  else step.value = 2
}

const confirmLastAnswer = () => {
  if (lastBlockAnswer.value !== 2) {
    wrongAnswer.value = true
    return false
  }
  else passStage()
}

const passStage = () => {
  block2Stage.value++
}

const openModal = () => {
  isModalOpen.value = true
}

const hideError = () => {
  wrongAnswer.value = false
}

</script>