<template>
  <main>
    <section class="section intro">
      <div
        class="intro__box"
        :style="`background: url(${$m(
            '/images/Intro-2.jpg'
          )}) center/cover no-repeat;`"
      >
        <div class="intro__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <h2 class="headline-24">
                  {{ $t('Разогревайте печи!') }}
                </h2>

                <p class="text swiper-slide__text">
                  {{ $t('Вы получили заказ на производство 200 тонн квадратного металлопроката. Только вдумайтесь! Однако, это далеко не самый большой заказ, зато крайне важный.') }}
                </p>
              </div>
              <div class="swiper-slide">
                <h2 class="headline-24">
                  {{ $t('Разогревайте печи!') }}
                </h2>

                <p class="text swiper-slide__text">
                  {{ $t('Сталь должна быть особенной: из неё на других заводах будут создавать оборудование и детали для производства самых разных машин и конструкций, которыми потом будут пользоваться по всему миру.') }}
                </p>
              </div>
              <div class="swiper-slide">
                <h2 class="headline-24">
                  {{ $t('Разогревайте печи!') }}
                </h2>

                <p class="text swiper-slide__text">
                  {{ $t('Получается, что без вас не будут ездить машины и летать самолёты, остановятся стройки и предприятия. Готовы к такой ответственной задаче? Тогда пора обуздать стихию огня и металла!') }}
                </p>
              </div>
            </div>

            <div class="swiper-btns">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>

        <span
            class="intro__btn button-final"
            @click="openModal"
        >{{ $t('Перейти в цех') }}</span>
      </div>
    </section>

    <Transition name="fade">
      <ModalDialog v-if="isModalOpen" :width="398">
        <div class="dialog-start">
          <div class="dialog-start__title headline-24">
            {{ $t('Вы получили заказ') }}
          </div>
          <div class="dialog-start__description footnote-12">
            {{ $t('Заказчик: завод ООО «Эскиз Деталь Пром»') }}
          </div>
          <div class="dialog-start__details">
            <div>
              <p>{{ $t('Детали') }}</p>
              <span>{{ $t('Изготовить 200 тонн проката по следующим параметрам:') }}</span>
            </div>
            <div>
              <p>{{ $t('Род деятельности') }}</p>
              <span>{{ $t('Производство штампов для ковки автомобилей, деталей и конструкций') }}</span>
            </div>
          </div>
          <ul class="dialog-start__list">
            <li>
              <span>{{ $t('Квадратный профиль') }}</span>
              <p>{{ $t('170x170 мм') }}</p>
            </li>
            <li>
              <span>{{ $t('Марка стали') }}</span>
              <p>{{ $t('4Х5МФС') }}</p>
            </li>
            <li>
              <span>{{ $t('Длина') }}</span>
              <p>{{ $t('3000 — 6000 мм') }}</p>
            </li>
            <li>
              <span>{{ $t('Термообработка') }}</span>
              <p>{{ $t('Отжиг') }}</p>
            </li>
          </ul>
          <button type="button" @click="start">{{ $t('Принять') }}</button>
        </div>
      </ModalDialog>
    </Transition>
  </main>
</template>
<script setup>
import ModalDialog from '../../ui/ModalDialog.vue'
import Swiper from 'swiper'
import { Navigation, Pagination } from 'swiper'
import { inject, onMounted, defineEmits, ref } from 'vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emit = defineEmits(['next'])

const isModalOpen = ref(false)

const openModal = () => {
  isModalOpen.value = true
}

onMounted(() => {
  if (window.localStorage.getItem('session') === null) {
    let today = new Date()
    window.localStorage.setItem('session', btoa(today.toISOString()))
    $l('SYSTEM', 'session_created')
  }

  new Swiper('.swiper', {
    loop: false,
    autoHeight: true,
    modules: [Navigation, Pagination],

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    pagination: {
      el: '.swiper-pagination',
    },
  })
})

const start = () => {
  $l('SYSTEM', 'session_started')
  window.localStorage.setItem('metalurg_block', '1')
  emit('next')
}
</script>
