<template>
  <div>
    <div
      :class="{
        'step-3__discard': true,
        'button-simple': true,
        '--disabled': selectedEdges.length === 0 || checkRightSelection() }"
      @click="discardEdges"
    >{{ $t('Сбросить')}}</div>
  
  <svg style="overflow: visible;" width="1028" height="502" viewBox="0 0 1028 502" fill="none" xmlns="http://www.w3.org/2000/svg">
    
  <!-- 1m -->
  <rect x="191.974" y="469.87" width="37" height="31" rx="8" transform="rotate(-33.6968 191.974 469.87)"
    :fill="numBGColor(1)"
    @click="selectEdge(1)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(1) && checkRightSelection() }"
  />
  <path d="M212.312 482.75L211.363 481.326L213.519 479.888L209.169 473.365L209.995 472.815L208.327 476.312L207.244 474.688L208.703 471.599L209.928 470.782L215.236 478.743L217.26 477.393L218.209 478.818L212.312 482.75ZM219.762 477.783L215.279 471.06L216.663 470.137L221.66 472.613L221.296 467.048L222.68 466.125L227.163 472.847L225.699 473.824L222.459 468.965L222.765 468.761L223.121 473.966L222.349 474.481L217.68 472.152L217.986 471.948L221.226 476.806L219.762 477.783Z"
    :fill="numTextColor(1)"  
    @click="selectEdge(1)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(1) && checkRightSelection() }"
  />
  
  <!-- 2m -->
  <rect x="262.169" y="448.513" width="37" height="31" rx="8" transform="rotate(-33.6968 262.169 448.513)"
    :fill="numBGColor(2)"
    @click="selectEdge(2)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(2) && checkRightSelection() }"
  />
  <path d="M282.068 461.686L281.225 460.421L282.174 455.096C282.292 454.427 282.329 453.858 282.285 453.387C282.24 452.917 282.097 452.5 281.854 452.136C281.552 451.683 281.183 451.436 280.745 451.395C280.307 451.354 279.817 451.514 279.276 451.875C278.841 452.165 278.477 452.523 278.184 452.949C277.886 453.366 277.655 453.866 277.492 454.449L276.081 453.543C276.238 452.952 276.528 452.367 276.951 451.791C277.383 451.208 277.909 450.709 278.53 450.295C279.542 449.62 280.469 449.329 281.313 449.42C282.156 449.512 282.858 449.979 283.421 450.822C283.811 451.408 284.046 452.059 284.126 452.775C284.2 453.482 284.141 454.316 283.949 455.278L283.084 459.604L282.783 459.152L287.442 456.045L288.391 457.469L282.068 461.686ZM289.957 456.425L285.474 449.703L286.859 448.78L291.856 451.255L291.491 445.691L292.876 444.767L297.358 451.49L295.894 452.466L292.654 447.607L292.96 447.403L293.316 452.609L292.544 453.123L287.875 450.794L288.181 450.59L291.421 455.449L289.957 456.425Z"
    :fill="numTextColor(2)"  
    @click="selectEdge(2)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(2) && checkRightSelection() }"
  />
  
  <!-- 3m -->
  <rect x="332.364" y="427.156" width="37" height="31" rx="8" transform="rotate(-33.6968 332.364 427.156)"
    :fill="numBGColor(3)"
    @click="selectEdge(3)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(3) && checkRightSelection() }"
  />
  <path d="M355.161 438.589C354.513 439.021 353.83 439.343 353.111 439.553C352.386 439.754 351.721 439.813 351.114 439.73L350.812 438.066C351.443 438.108 352.03 438.056 352.574 437.911C353.127 437.76 353.652 437.519 354.149 437.187C354.753 436.785 355.13 436.36 355.281 435.914C355.432 435.467 355.353 435.013 355.045 434.551C354.75 434.108 354.372 433.878 353.914 433.864C353.458 433.834 352.937 434.015 352.352 434.405L350.834 435.417L349.92 434.046L351.291 433.132C351.797 432.794 352.118 432.401 352.254 431.951C352.39 431.501 352.313 431.059 352.023 430.624C351.751 430.216 351.402 430 350.976 429.977C350.558 429.947 350.088 430.107 349.564 430.456C348.624 431.083 348.007 431.956 347.714 433.074L346.303 432.169C346.448 431.56 346.735 430.971 347.164 430.403C347.602 429.829 348.131 429.335 348.752 428.921C349.728 428.27 350.64 427.983 351.486 428.059C352.335 428.121 353.02 428.543 353.54 429.324C353.913 429.883 354.076 430.473 354.029 431.094C353.984 431.701 353.732 432.254 353.27 432.754L353.164 432.594C353.882 432.269 354.561 432.201 355.2 432.39C355.842 432.565 356.374 432.967 356.794 433.597C357.35 434.431 357.485 435.296 357.198 436.193C356.905 437.08 356.226 437.879 355.161 438.589ZM360.152 435.069L355.67 428.346L357.054 427.423L362.051 429.899L361.687 424.334L363.071 423.411L367.554 430.133L366.089 431.11L362.849 426.251L363.156 426.047L363.511 431.252L362.739 431.767L358.07 429.438L358.377 429.234L361.617 434.092L360.152 435.069Z"
    :fill="numTextColor(3)"  
    @click="selectEdge(3)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(3) && checkRightSelection() }"
  />
  
  <!-- 4m -->
  <rect x="402.559" y="405.799" width="37" height="31" rx="8" transform="rotate(-33.6968 402.559 405.799)"
    :fill="numBGColor(4)"
    @click="selectEdge(4)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(4) && checkRightSelection() }"
  />
  <path d="M426.159 416.504L424.934 414.667L420.741 417.463L419.942 416.265L420.167 406.942L421.551 406.019L425.714 412.262L427.059 411.365L427.929 412.67L426.584 413.566L427.809 415.403L426.159 416.504ZM424.064 413.363L421.25 409.143L421.569 408.93L421.415 415.706L421.149 415.307L424.064 413.363ZM430.347 413.711L425.864 406.989L427.248 406.066L432.245 408.541L431.881 402.977L433.265 402.054L437.748 408.776L436.284 409.752L433.044 404.894L433.35 404.689L433.706 409.895L432.933 410.41L428.265 408.08L428.571 407.876L431.811 412.735L430.347 413.711Z"
    :fill="numTextColor(4)"  
    @click="selectEdge(4)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(4) && checkRightSelection() }"
  />
  
  <!-- 5m -->
  <rect x="472.754" y="384.441" width="37" height="31" rx="8" transform="rotate(-33.6968 472.754 384.441)"
    :fill="numBGColor(5)"
    @click="selectEdge(5)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(5) && checkRightSelection() }"
  />
  <path d="M495.764 395.733C495.356 396.005 494.918 396.233 494.45 396.416C493.992 396.594 493.532 396.721 493.07 396.798C492.618 396.869 492.193 396.876 491.797 396.82L491.495 395.156C492.119 395.189 492.702 395.14 493.243 395.01C493.788 394.865 494.299 394.632 494.779 394.313C495.355 393.928 495.709 393.487 495.839 392.99C495.972 392.478 495.876 391.978 495.55 391.49C495.219 390.993 494.797 390.697 494.286 390.603C493.768 390.499 493.238 390.628 492.697 390.989C492.315 391.244 492.015 391.553 491.796 391.917C491.58 392.266 491.449 392.674 491.401 393.142L490.27 393.896L486.462 388.185L492.292 384.297L493.233 385.708L489.027 388.513L491.015 391.495L490.603 391.77C490.626 391.306 490.773 390.862 491.042 390.439C491.32 390.01 491.698 389.636 492.178 389.316C492.781 388.914 493.387 388.689 493.997 388.641C494.606 388.594 495.186 388.714 495.736 389.001C496.281 389.279 496.754 389.72 497.157 390.323C497.565 390.935 497.784 391.571 497.814 392.231C497.846 392.876 497.69 393.506 497.344 394.122C497 394.722 496.474 395.259 495.764 395.733ZM500.542 392.354L496.059 385.632L497.444 384.708L502.441 387.184L502.076 381.619L503.461 380.696L507.943 387.419L506.479 388.395L503.239 383.536L503.545 383.332L503.901 388.537L503.129 389.052L498.46 386.723L498.766 386.519L502.006 391.378L500.542 392.354Z"
    :fill="numTextColor(5)"
    @click="selectEdge(5)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(5) && checkRightSelection() }"
  />
  
  <!-- 6m -->
  <rect x="542.949" y="363.085" width="37" height="31" rx="8" transform="rotate(-33.6968 542.949 363.085)"
    :fill="numBGColor(6)"
    @click="selectEdge(6)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(6) && checkRightSelection() }"
  />
  <path d="M566.225 374.199C565.045 374.986 563.859 375.187 562.667 374.803C561.483 374.412 560.4 373.48 559.418 372.007C558.708 370.942 558.271 369.932 558.108 368.976C557.94 368.012 558.027 367.133 558.37 366.341C558.722 365.542 559.324 364.858 560.176 364.29C560.682 363.953 561.245 363.712 561.866 363.567C562.482 363.413 563.079 363.386 563.659 363.487L563.939 365.146C563.409 365.063 562.907 365.078 562.43 365.191C561.948 365.294 561.512 365.476 561.121 365.737C560.323 366.269 559.895 366.945 559.839 367.765C559.783 368.584 560.113 369.531 560.829 370.605L561.495 371.603L561.335 371.71C561.104 371.21 560.998 370.723 561.015 370.25C561.027 369.768 561.159 369.321 561.41 368.91C561.656 368.489 562 368.131 562.444 367.836C562.994 367.469 563.568 367.272 564.166 367.245C564.763 367.218 565.333 367.351 565.874 367.644C566.424 367.931 566.895 368.368 567.285 368.953C567.688 369.557 567.911 370.19 567.956 370.852C568.003 371.5 567.883 372.119 567.596 372.707C567.304 373.287 566.847 373.784 566.225 374.199ZM565.227 372.903C565.555 372.684 565.796 372.421 565.95 372.113C566.104 371.805 566.162 371.478 566.123 371.132C566.087 370.771 565.957 370.422 565.732 370.085C565.502 369.739 565.229 369.485 564.916 369.322C564.611 369.153 564.287 369.081 563.944 369.104C563.595 369.119 563.256 369.236 562.928 369.455C562.599 369.674 562.361 369.942 562.213 370.258C562.06 370.566 561.998 370.896 562.027 371.248C562.057 371.6 562.187 371.949 562.418 372.295C562.643 372.633 562.915 372.887 563.234 373.058C563.548 373.221 563.876 373.291 564.22 373.267C564.563 373.243 564.898 373.122 565.227 372.903ZM570.737 370.998L566.255 364.275L567.639 363.352L572.636 365.828L572.272 360.263L573.656 359.34L578.139 366.062L576.674 367.039L573.434 362.18L573.741 361.976L574.096 367.181L573.324 367.696L568.655 365.367L568.962 365.162L572.202 370.021L570.737 370.998Z"
    :fill="numTextColor(6)"
    @click="selectEdge(6)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(6) && checkRightSelection() }"
  />

  <!-- 7m -->
  <rect x="613.145" y="341.728" width="37" height="31" rx="8" transform="rotate(-33.6968 613.145 341.728)"
    :fill="numBGColor(7)"
    @click="selectEdge(7)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(7) && checkRightSelection() }"
  />
  <path d="M633.15 354.83L632.004 343.248L632.404 343.847L627.425 347.167L626.466 345.729L633.029 341.353L633.881 342.631L635.027 353.578L633.15 354.83ZM640.933 349.64L636.45 342.918L637.834 341.995L642.831 344.47L642.467 338.905L643.851 337.982L648.334 344.705L646.87 345.681L643.63 340.822L643.936 340.618L644.291 345.823L643.519 346.338L638.851 344.009L639.157 343.805L642.397 348.664L640.933 349.64Z"
    :fill="numTextColor(7)"
    @click="selectEdge(7)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(7) && checkRightSelection() }"
  />
  
  <!-- 8m -->
  <rect x="683.34" y="320.37" width="37" height="31" rx="8" transform="rotate(-33.6968 683.34 320.37)"
    :fill="numBGColor(8)"
    @click="selectEdge(8)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(8) && checkRightSelection() }"
  />
  <path d="M706.283 331.706C705.183 332.439 704.165 332.778 703.23 332.722C702.304 332.66 701.563 332.212 701.007 331.378C700.569 330.721 700.405 330.042 700.514 329.341C700.624 328.64 700.971 328.036 701.557 327.53L701.743 327.81C701.083 328.07 700.437 328.11 699.804 327.93C699.18 327.744 698.669 327.353 698.273 326.759C697.746 325.969 697.623 325.16 697.904 324.331C698.188 323.488 698.836 322.729 699.848 322.055C700.868 321.374 701.818 321.068 702.696 321.136C703.578 321.189 704.282 321.61 704.809 322.4C705.205 322.995 705.377 323.618 705.324 324.268C705.28 324.913 705.006 325.474 704.503 325.95L704.326 325.684C705.015 325.353 705.695 325.277 706.367 325.458C707.033 325.629 707.584 326.043 708.022 326.7C708.579 327.534 708.703 328.393 708.395 329.278C708.097 330.157 707.393 330.966 706.283 331.706ZM705.396 330.374C706.043 329.942 706.447 329.5 706.607 329.048C706.761 328.586 706.678 328.116 706.358 327.636C706.039 327.157 705.639 326.904 705.16 326.878C704.681 326.851 704.117 327.054 703.469 327.486C702.83 327.912 702.427 328.354 702.258 328.813C702.098 329.265 702.178 329.731 702.498 330.211C702.817 330.69 703.22 330.947 703.705 330.983C704.193 331.003 704.757 330.801 705.396 330.374ZM702.582 326.155C703.132 325.788 703.466 325.385 703.584 324.948C703.712 324.504 703.63 324.064 703.34 323.63C703.056 323.204 702.688 322.968 702.235 322.924C701.785 322.865 701.286 323.019 700.735 323.386C700.194 323.747 699.86 324.149 699.733 324.593C699.608 325.022 699.688 325.449 699.972 325.875C700.262 326.31 700.632 326.557 701.082 326.616C701.54 326.67 702.04 326.516 702.582 326.155ZM711.128 328.283L706.645 321.56L708.03 320.637L713.027 323.113L712.662 317.548L714.047 316.625L718.529 323.347L717.065 324.324L713.825 319.465L714.131 319.261L714.487 324.466L713.715 324.981L709.046 322.652L709.352 322.448L712.592 327.306L711.128 328.283Z"
    :fill="numTextColor(8)"
    @click="selectEdge(8)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(8) && checkRightSelection() }"
  />
  
  <!-- 9m -->
  <rect x="753.535" y="299.014" width="37" height="31" rx="8"
    transform="rotate(-33.6968 753.535 299.014)"
    :fill="numBGColor(9)"
    @click="selectEdge(9)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(9) && checkRightSelection() }"
  />
  <path d="M775.773 310.82C775.267 311.157 774.704 311.398 774.082 311.543C773.455 311.679 772.855 311.702 772.281 311.61L772.001 309.95C772.531 310.033 773.036 310.023 773.519 309.919C774.001 309.816 774.437 309.634 774.828 309.373C775.618 308.846 776.041 308.173 776.097 307.354C776.162 306.528 775.836 305.579 775.12 304.505L774.454 303.507L774.614 303.4C774.848 303.885 774.954 304.372 774.934 304.86C774.913 305.348 774.78 305.802 774.534 306.222C774.292 306.628 773.949 306.978 773.505 307.274C772.964 307.635 772.39 307.832 771.783 307.865C771.186 307.891 770.612 307.761 770.061 307.474C769.514 307.173 769.048 306.733 768.663 306.157C768.255 305.544 768.027 304.914 767.98 304.266C767.941 303.612 768.068 302.996 768.361 302.416C768.648 301.827 769.098 301.328 769.71 300.92C770.899 300.127 772.086 299.926 773.269 300.316C774.455 300.692 775.543 301.621 776.531 303.103C777.235 304.159 777.672 305.169 777.84 306.133C778.018 307.092 777.931 307.971 777.579 308.769C777.227 309.568 776.625 310.252 775.773 310.82ZM773.012 305.641C773.341 305.422 773.582 305.159 773.736 304.851C773.889 304.544 773.951 304.214 773.922 303.862C773.886 303.501 773.756 303.152 773.531 302.815C773.3 302.468 773.028 302.214 772.715 302.051C772.401 301.889 772.073 301.819 771.729 301.843C771.38 301.858 771.042 301.975 770.713 302.194C770.385 302.413 770.147 302.68 769.999 302.997C769.845 303.305 769.783 303.634 769.813 303.986C769.851 304.333 769.986 304.679 770.217 305.025C770.441 305.362 770.709 305.619 771.02 305.797C771.333 305.96 771.662 306.029 772.005 306.005C772.348 305.982 772.684 305.86 773.012 305.641ZM781.323 306.926L776.841 300.204L778.225 299.281L783.222 301.756L782.857 296.192L784.242 295.268L788.725 301.991L787.26 302.967L784.02 298.108L784.326 297.904L784.682 303.11L783.91 303.624L779.241 301.295L779.548 301.091L782.788 305.95L781.323 306.926Z"
    :fill="numTextColor(9)"
    @click="selectEdge(9)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(9) && checkRightSelection() }"
  />

  <!-- 10m -->
  <rect x="824.57" y="280.417" width="47" height="31" rx="8" transform="rotate(-33.6968 824.57 280.417)"
    :fill="numBGColor(10)"
    @click="selectEdge(10)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(10) && checkRightSelection() }"
  />
  <path d="M844.909 293.297L843.959 291.873L846.116 290.435L841.766 283.912L842.591 283.362L840.923 286.859L839.84 285.235L841.3 282.146L842.525 281.329L847.833 289.29L849.856 287.94L850.806 289.365L844.909 293.297ZM855.496 286.43C854.395 287.164 853.27 287.312 852.119 286.874C850.962 286.428 849.866 285.428 848.83 283.875C847.783 282.304 847.284 280.912 847.334 279.699C847.384 278.486 847.96 277.513 849.06 276.779C850.169 276.039 851.289 275.882 852.419 276.308C853.558 276.728 854.648 277.719 855.69 279.281C856.732 280.843 857.236 282.244 857.204 283.483C857.174 284.708 856.605 285.69 855.496 286.43ZM854.555 285.019C855.158 284.616 855.423 284.043 855.349 283.297C855.269 282.543 854.832 281.571 854.039 280.382C853.246 279.192 852.526 278.429 851.878 278.092C851.224 277.746 850.595 277.774 849.992 278.177C849.397 278.573 849.13 279.143 849.189 279.885C849.251 280.613 849.679 281.571 850.472 282.761C851.265 283.95 851.994 284.726 852.66 285.09C853.328 285.439 853.96 285.415 854.555 285.019ZM860.34 283.007L855.858 276.285L857.242 275.361L862.239 277.837L861.874 272.272L863.259 271.349L867.742 278.072L866.277 279.048L863.037 274.189L863.343 273.985L863.699 279.19L862.927 279.705L858.258 277.376L858.565 277.172L861.805 282.031L860.34 283.007Z"
    :fill="numTextColor(10)"
    @click="selectEdge(10)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(10) && checkRightSelection() }"
  />
  
  <!-- 11m -->
  <rect x="903.926" y="256.273" width="47" height="31" rx="8" transform="rotate(-33.6968 903.926 256.273)"
    :fill="numBGColor(11)"
    @click="selectEdge(11)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(11) && checkRightSelection() }"
  />
  <path d="M924.265 269.154L923.315 267.729L925.471 266.291L921.122 259.768L921.947 259.218L920.279 262.715L919.196 261.091L920.655 258.002L921.88 257.186L927.188 265.146L929.212 263.797L930.162 265.221L924.265 269.154ZM932.246 263.831L931.297 262.407L933.453 260.969L929.103 254.446L929.929 253.895L928.261 257.392L927.178 255.768L928.637 252.68L929.862 251.863L935.17 259.823L937.194 258.474L938.143 259.899L932.246 263.831ZM939.696 258.863L935.213 252.141L936.597 251.218L941.594 253.693L941.23 248.129L942.614 247.206L947.097 253.928L945.633 254.904L942.393 250.046L942.699 249.841L943.055 255.047L942.283 255.562L937.614 253.232L937.92 253.028L941.16 257.887L939.696 258.863Z"
    :fill="numTextColor(11)"
    @click="selectEdge(11)"
    :class="{'_edge-num': true, '--disabled': !checkEdgeSelection(11) && checkRightSelection() }"
  />
  
  <path d="M990.776 234V232.288H993.368V224.448H994.36L991.032 226.432V224.48L993.96 222.72H995.432V232.288H997.864V234H990.776ZM999.842 234V232.48L1003.59 228.576C1004.06 228.085 1004.4 227.632 1004.63 227.216C1004.85 226.8 1004.96 226.373 1004.96 225.936C1004.96 225.392 1004.79 224.981 1004.45 224.704C1004.11 224.427 1003.61 224.288 1002.96 224.288C1002.44 224.288 1001.94 224.384 1001.46 224.576C1000.98 224.757 1000.51 225.045 1000.05 225.44L999.378 223.904C999.836 223.499 1000.4 223.173 1001.07 222.928C1001.76 222.683 1002.47 222.56 1003.22 222.56C1004.43 222.56 1005.37 222.832 1006.02 223.376C1006.67 223.92 1006.99 224.699 1006.99 225.712C1006.99 226.416 1006.83 227.088 1006.5 227.728C1006.17 228.357 1005.66 229.019 1004.96 229.712L1001.84 232.832V232.288H1007.44V234H999.842ZM1009.32 234V225.92H1010.99L1013.77 230.752L1016.56 225.92H1018.22V234H1016.46V228.16H1016.83L1014.24 232.688H1013.31L1010.72 228.16H1011.08V234H1009.32Z" fill="#080809"/>
  <path d="M983.292 116.739L137.203 365.58L7.79399 294.842L860.448 43.859L983.292 116.739Z" fill="url(#paint0_linear_476_7307)" stroke="#380BB3" stroke-width="6.00671"/>
  <mask id="path-26-inside-1_476_7307" fill="white">
  <path d="M4 373L0.0234375 367V294.041L4 295L137.849 368.468L138.935 366.141L141.823 365.353L148.056 377.079L143.527 378.44L137.849 368.468L4 295V373Z"/>
  </mask>
  <path d="M4 373L0.0234375 367V294.041L4 295L137.849 368.468L138.935 366.141L141.823 365.353L148.056 377.079L143.527 378.44L137.849 368.468L4 295V373Z" fill="#6C3BF0"/>
  <path d="M2.55488 297.633L136.404 371.101L139.294 365.835L5.44512 292.367L2.55488 297.633ZM145.056 376.933L141.163 457.109L147.163 457.4L151.056 377.225L145.056 376.933ZM4 373L-1.00689 376.318L10.0067 392.936V373H4ZM0.0234375 367H-5.98327V368.81L-4.98345 370.318L0.0234375 367ZM0.0234375 294.041L1.43164 288.202L-5.98327 286.414V294.041H0.0234375ZM4 295H10.0067V290.27L5.4082 289.161L4 295ZM137.849 368.468L132.406 365.928L131.093 368.742L132.629 371.44L137.849 368.468ZM148.056 377.079L149.785 382.832L156.796 380.725L153.36 374.26L148.056 377.079ZM143.527 378.44L138.308 381.412L140.675 385.569L145.256 384.193L143.527 378.44ZM141.823 365.353L147.128 362.534L144.874 358.295L140.243 359.558L141.823 365.353ZM138.935 366.141L137.354 360.346L134.669 361.078L133.492 363.601L138.935 366.141ZM9.00689 369.682L5.03033 363.682L-4.98345 370.318L-1.00689 376.318L9.00689 369.682ZM6.03014 367V294.041H-5.98327V367H6.03014ZM-1.38476 299.88L2.5918 300.839L5.4082 289.161L1.43164 288.202L-1.38476 299.88ZM-2.00671 295V373H10.0067V295H-2.00671ZM146.327 371.326L141.799 372.687L145.256 384.193L149.785 382.832L146.327 371.326ZM148.747 375.468L143.069 365.496L132.629 371.44L138.308 381.412L148.747 375.468ZM136.519 368.172L142.752 379.898L153.36 374.26L147.128 362.534L136.519 368.172ZM143.293 371.008L144.378 368.68L133.492 363.601L132.406 365.928L143.293 371.008ZM140.515 371.936L143.404 371.148L140.243 359.558L137.354 360.346L140.515 371.936Z" fill="#380BB3" mask="url(#path-26-inside-1_476_7307)"/>
  <path d="M147.064 454.291L146.478 380.634L996.826 130.867L996.955 199.151L147.064 454.291Z" fill="url(#paint1_linear_476_7307)" stroke="#380BB3" stroke-width="6.00671"/>
  <path d="M4 295.999V372.861L144.289 456.402L143.592 378.425L137.799 368.306L4 295.999Z" fill="#75797B"/>
  <path d="M982.5 118.5L990.731 117.687L1000 127L992.5 130L982.5 118.5Z" fill="#380BB3"/>
  <path d="M143 366.999L983.5 119.499L992.5 129.719L148 376.999L143 366.999Z" fill="#F1F5F6"/>
  <path d="M213 363V431" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M284 342.5V411" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M355 321.5V390" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M426 300.5V369" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M497 279.5V348" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M923 152.5V221" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>

  <path d="M568 258.5V327" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M781 195.5V264" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  
  <!-- 3m right line -->
  <path v-if="checkEdgeSelection(3) && !wrongNum(3)" d="M355 321V389.5" stroke="#380BB3" stroke-width="6"/>

  <!-- 4m right line -->
  <path v-if="checkEdgeSelection(4)  && !wrongNum(4)" d="M426 300V368.5" stroke="#380BB3" stroke-width="6"/>

  <!-- 6m right line -->
  <path v-if="checkEdgeSelection(6) && !wrongNum(6)" d="M568 258.5V327" stroke="#380BB3" stroke-width="6"/>
  
  <!-- 8m right line -->
  <path v-if="checkEdgeSelection(8) && !wrongNum(8)" d="M710 219V287.5" stroke="#380BB3" stroke-width="6"/>

  <path d="M639 237.5V306" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M852 173.5V242" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  <path d="M710 216.5V285" stroke="#380BB3" stroke-width="6" stroke-dasharray="7 7"/>
  
  <!-- 9m right line -->
  <path v-if="checkEdgeSelection(9) && !wrongNum(9)" d="M781 195.5V264" stroke="#380BB3" stroke-width="6"/>

  <!-- 6m top line -->
  <path v-if="checkEdgeSelection(6) && checkRightSelection()" d="M432 169.5L564.5 240.5" stroke="#380BB3" stroke-width="6"/>

  <!-- 4m top line -->
  <path v-if="checkEdgeSelection(4) && checkRightSelection()" d="M289 211L421.5 282" stroke="#380BB3" stroke-width="6"/>

  <!-- 3m top line -->
  <path v-if="checkEdgeSelection(3) && checkRightSelection()" d="M221 231L353.5 302" stroke="#380BB3" stroke-width="6"/>
  
  <!-- 9m top line -->
  <path v-if="checkEdgeSelection(9) && checkRightSelection()" d="M646 106.5L778.5 177.5" stroke="#380BB3" stroke-width="6"/>

  <!-- 8m top line -->
  <path v-if="checkEdgeSelection(8) && checkRightSelection()" d="M574 127L706.5 198" stroke="#380BB3" stroke-width="6"/>

  <!-- crane line 3m -->
  <path
    v-if="checkEdgeSelection(3) && checkRightSelection()"
    class="_crane"
    style="transform: translateY(-70px);"
    d="M307.671 65V154.838H297.462V244.676H303.587V252.843H299.504V267.136H311.755L303.587 293.679H299.504V310.013H291.337H283.17V293.679H279.086L276.023 280.407L264.794 281.428L244.376 279.386L248.46 252.843L252.543 201.799H226L234.167 128.295V115.963V69.0835V65H307.671Z" fill="#E7DFFC"
  />
  <path
    v-if="checkEdgeSelection(3) && checkRightSelection()"
    class="_crane"
    style="transform: translateY(-70px);"
    d="M289.295 69.0835L288.205 115.963M283.17 252.843H277.044V244.676H285.211L286.209 201.799M283.17 252.843V267.136M283.17 252.843H299.504M283.17 267.136H299.504M283.17 267.136H272.961L276.023 280.407M299.504 267.136V252.843M299.504 267.136H311.755L303.587 293.679H299.504M299.504 252.843H303.587V244.676H297.462V154.838H307.671V65H234.167V69.0835V115.963M258.668 201.799L262.752 118.086M258.668 201.799H252.543M258.668 201.799H277.044M262.752 118.086L234.167 115.963M262.752 118.086L288.205 115.963M234.167 115.963V128.295L226 201.799H252.543M288.205 115.963L286.209 201.799M286.209 201.799H277.044M252.543 201.799L248.46 252.843M248.46 252.843L244.376 279.386L264.794 281.428M248.46 252.843L264.794 255.177M277.044 256.927V201.799M277.044 256.927L264.794 255.177M277.044 256.927L276.023 280.407M264.794 281.428V255.177M264.794 281.428L276.023 280.407M276.023 280.407L279.086 293.679H283.17M283.17 293.679V310.013H291.337M283.17 293.679H299.504M299.504 293.679V310.013H291.337M291.337 310.013V334.514" stroke="#490FE7" stroke-width="6.00671"
  />

    <!-- cut line 3m -->
    <path v-if="checkEdgeSelection(3) && checkRightSelection()" d="M290.973 265.004L290.866 271.856L222.017 234.902L230.162 232.498L290.973 265.004Z" fill="#FF5C00"/>
    <!-- spark 3m -->
    <path class="_spark" v-if="checkEdgeSelection(3) && checkRightSelection()" d="M276 266.05L289.861 267.786L283.428 256.512L291.348 264.834L293.349 251.999L296.06 264.138L302.993 254.721L298.35 265.4L312.014 261.342L296.62 271.978H290.531L276 266.05Z" fill="url(#paint2_radial_476_7307)"/>
    
    <!-- crane 4m -->
    <path
      v-if="checkEdgeSelection(4) && checkRightSelection()"
      class="_crane"
      style="transform: translateY(-70px);"
      d="M375.671 43V132.838H365.462V222.676H371.587V230.843H367.504V245.136H379.755L371.587 271.679H367.504V288.013H359.337H351.17V271.679H347.086L344.023 258.407L332.794 259.428L312.376 257.386L316.46 230.843L320.543 179.799H294L302.167 106.295V93.9629V47.0835V43H375.671Z" fill="#E7DFFC"/>
    <path
      v-if="checkEdgeSelection(4) && checkRightSelection()"
      class="_crane"
      style="transform: translateY(-70px);"
      d="M357.295 47.0835L356.205 93.9629M351.17 230.843H345.044V222.676H353.211L354.209 179.799M351.17 230.843V245.136M351.17 230.843H367.504M351.17 245.136H367.504M351.17 245.136H340.961L344.023 258.407M367.504 245.136V230.843M367.504 245.136H379.755L371.587 271.679H367.504M367.504 230.843H371.587V222.676H365.462V132.838H375.671V43H302.167V47.0835V93.9629M326.668 179.799L330.752 96.0861M326.668 179.799H320.543M326.668 179.799H345.044M330.752 96.0861L302.167 93.9629M330.752 96.0861L356.205 93.9629M302.167 93.9629V106.295L294 179.799H320.543M356.205 93.9629L354.209 179.799M354.209 179.799H345.044M320.543 179.799L316.46 230.843M316.46 230.843L312.376 257.386L332.794 259.428M316.46 230.843L332.794 233.177M345.044 234.927V179.799M345.044 234.927L332.794 233.177M345.044 234.927L344.023 258.407M332.794 259.428V233.177M332.794 259.428L344.023 258.407M344.023 258.407L347.086 271.679H351.17M351.17 271.679V288.013H359.337M351.17 271.679H367.504M367.504 271.679V288.013H359.337M359.337 288.013V312.514" stroke="#490FE7" stroke-width="6.00671"/>
    
    <!-- cut line 4m -->
    <path v-if="checkEdgeSelection(4) && checkRightSelection()" d="M358.984 245.062L359.016 251.923L289.954 214.91L298.149 212.5L358.984 245.062Z" fill="#FF5C00"/>
    <!-- spark 4m -->
    <path class="_spark" v-if="checkEdgeSelection(4) && checkRightSelection()" d="M344 246.05L357.861 247.786L351.428 236.512L359.348 244.834L361.349 231.999L364.06 244.138L370.993 234.721L366.35 245.4L380.014 241.342L364.62 251.978H358.531L344 246.05Z" fill="url(#paint3_radial_476_7307)"/>
    
    <!-- crane 6m -->
    <path
      v-if="checkEdgeSelection(6) && checkRightSelection() && selectedEdges.length==1"
      class="_crane"
      style="transform: translateY(-70px);"
      d="M517.671 4V93.8381H507.462V183.676H513.587V191.843H509.504V206.136H521.755L513.587 232.679H509.504V249.013H501.337H493.17V232.679H489.086L486.023 219.407L474.794 220.428L454.376 218.386L458.46 191.843L462.543 140.799H436L444.167 67.295V54.9629V8.08355V4H517.671Z" fill="#E7DFFC"/>
    <path
      v-if="checkEdgeSelection(6) && checkRightSelection() && selectedEdges.length==1"
      class="_crane"
      style="transform: translateY(-70px);"
      d="M499.295 8.08355L498.205 54.9629M493.17 191.843H487.044V183.676H495.211L496.209 140.799M493.17 191.843V206.136M493.17 191.843H509.504M493.17 206.136H509.504M493.17 206.136H482.961L486.023 219.407M509.504 206.136V191.843M509.504 206.136H521.755L513.587 232.679H509.504M509.504 191.843H513.587V183.676H507.462V93.8381H517.671V4H444.167V8.08355V54.9629M468.668 140.799L472.752 57.0861M468.668 140.799H462.543M468.668 140.799H487.044M472.752 57.0861L444.167 54.9629M472.752 57.0861L498.205 54.9629M444.167 54.9629V67.295L436 140.799H462.543M498.205 54.9629L496.209 140.799M496.209 140.799H487.044M462.543 140.799L458.46 191.843M458.46 191.843L454.376 218.386L474.794 220.428M458.46 191.843L474.794 194.177M487.044 195.927V140.799M487.044 195.927L474.794 194.177M487.044 195.927L486.023 219.407M474.794 220.428V194.177M474.794 220.428L486.023 219.407M486.023 219.407L489.086 232.679H493.17M493.17 232.679V249.013H501.337M493.17 232.679H509.504M509.504 232.679V249.013H501.337M501.337 249.013V273.514" stroke="#490FE7" stroke-width="6.00671"/>

    <!-- cut line 6m -->
    <path v-if="checkEdgeSelection(6) && checkRightSelection() && selectedEdges.length==1" d="M501.053 203.065L501.071 209.909L432.287 173.021L440.401 170.588L501.053 203.065Z" fill="#FF5C00"/>
    <!-- spark 6m -->
    <path class="_spark" v-if="checkEdgeSelection(6) && checkRightSelection() && selectedEdges.length==1" d="M486 204.05L499.861 205.786L493.428 194.512L501.348 202.834L503.349 189.999L506.06 202.138L512.993 192.721L508.35 203.4L522.014 199.342L506.62 209.978H500.531L486 204.05Z" fill="url(#paint4_radial_476_7307)"/>

    
  <defs>
  <linearGradient id="paint0_linear_476_7307" x1="619.284" y1="5.3905" x2="80.8094" y2="338.036" gradientUnits="userSpaceOnUse">
  <stop stop-color="#E0E3E5"/>
  <stop offset="1" stop-color="#9AA3A8"/>
  </linearGradient>
  <linearGradient id="paint1_linear_476_7307" x1="640.098" y1="81.7555" x2="152.847" y2="314.182" gradientUnits="userSpaceOnUse">
  <stop stop-color="#E0E3E5"/>
  <stop offset="1" stop-color="#9AA3A8"/>
  </linearGradient>

  <radialGradient xmlns="http://www.w3.org/2000/svg" id="paint2_radial_476_7307" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(293.213 268.715) rotate(95.5287) scale(20.7483 22.3101)">
  <stop offset="0.046875" stop-color="#FFFDE7"/>
  <stop offset="0.359375" stop-color="#FFD158"/>
  <stop offset="0.84375" stop-color="#E36215"/>
  </radialGradient>
  <radialGradient xmlns="http://www.w3.org/2000/svg" id="paint3_radial_476_7307" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(361.213 248.715) rotate(95.5287) scale(20.7483 22.3101)">
  <stop offset="0.046875" stop-color="#FFFDE7"/>
  <stop offset="0.359375" stop-color="#FFD158"/>
  <stop offset="0.84375" stop-color="#E36215"/>
  </radialGradient>
  <radialGradient xmlns="http://www.w3.org/2000/svg" id="paint4_radial_476_7307" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(503.213 206.715) rotate(95.5287) scale(20.7483 22.3101)">
  <stop offset="0.046875" stop-color="#FFFDE7"/>
  <stop offset="0.359375" stop-color="#FFD158"/>
  <stop offset="0.84375" stop-color="#E36215"/>
  </radialGradient>
  </defs>
  </svg>
  </div>
</template>

<script setup>

import { inject, defineEmits, ref } from 'vue'

const $t = inject('translate')

const emits = defineEmits(['finish', 'wrongCase', 'selected'])
const selectedEdges = ref([])

const selectEdge = (num) => {
  if (wrongNum(num)) emits('wrongCase')
  if (selectedEdges.value.indexOf(num)==-1) {
    selectedEdges.value.push(num)
  }
  if (checkRightSelection()) emits("finish")
}

const wrongNum = (num) => {
  if ((num==9 || num==6 || num==3) && (selectedEdges.value.indexOf(4)!=-1 || selectedEdges.value.indexOf(8)!=-1)) {
    return true
  } else if ((num==4 || num==8) && (selectedEdges.value.indexOf(3)!=-1 || selectedEdges.value.indexOf(6)!=-1 || selectedEdges.value.indexOf(9)!=-1)) {
    return true
  } else {
    return (num!=3 && num!=4 && num!=6 && num!=8 && num!=9)
  }
}

const numBGColor = (num) => {
  return (selectedEdges.value.indexOf(num)!=-1) ? (wrongNum(num) ? '#DE234B': '#6C3BF0') : '#E7DFFC'
}
const numTextColor = (num) => {
  return (selectedEdges.value.indexOf(num)!=-1) ? '#FFF' : '#080809'
}

const checkEdgeSelection = (num) => {
  return selectedEdges.value.indexOf(num)!=-1
}

const checkRightSelection = () => {
  if (
    selectedEdges.value.length == 1 && selectedEdges.value.indexOf(6) != -1
    ||
    selectedEdges.value.length == 2 && selectedEdges.value.indexOf(4) != -1 && selectedEdges.value.indexOf(8) != -1
    ||
    selectedEdges.value.length == 3 && selectedEdges.value.indexOf(3) != -1 && selectedEdges.value.indexOf(9) != -1 && selectedEdges.value.indexOf(6) != -1
  )
    return true
  else
    return false
}

const discardEdges = () => {
  selectedEdges.value = []
}

defineProps({
  // fixed: {
  //   required: false,
  //   type: Boolean
  // },
  // disabled: {
  //   required: false,
  //   type: Boolean
  // }
})

</script>