<template>
  <main>
    <section class="section process">
      
      <Transition name="fade">
        <InformerPopup
          v-if="wrongAnswer && errorType == 'cut'"
          :width="880"
          :title="'Так у вас не получатся равные части!'"
          :text="'Нажмите «Сбросить» и попробуйте снова. Или загляните в справочник!'"
          :error="true"
          @close="hideError"
        >  
        </InformerPopup>
        <InformerPopup
          v-else-if="wrongAnswer"
          :width="880"
          :title="'Ой, это неверный вариант!'"
          :text="'Загляните в справочник, если не получается выбрать правильный ответ.'"
          :error="true"
          @close="hideError"
        >  
        </InformerPopup>
      </Transition>

      <!-- STEP 1 -->
      <div class="step-1" v-if="taskStep === 1">
        <div class="headline-24 step-1__title">
          {{ $t('Выберите верные настройки печи') }}
        </div>
        <div class="main-text-16 step-1__text">
          {{ $t(`Кажется, у нагревательной печи стояли настройки для другой стали.
          Нажимайте на параметры и выбирайте правильный режим нагрева в каждой зоне печи.
          Вам поможет справочник!`) }}
        </div>

        <div class="step-1__base">
          <span class="step-1__base__brick"></span>
          <img
            :src="$m('/images/process-step-1-scheme-top.svg')"
            alt="scheme 1"
            class="step-1__base__scheme-top"
          />
          <img
            :src="$m('/images/process-step-1-scheme-bottom.svg')"
            alt="scheme 2"
            class="step-1__base__scheme-bottom"
          />

          <div class="process-question-card process-question-card--1">
            <div class="process-question-card__title">{{ $t('Посадочное окно') }}</div>
            <div class="process-question-card__body">
              <div
                :class="{'process-question-card__body__way': true, '--q': !cardAnswersFinal[1-1]}"
                @click="selectCardWay(1, 't')"
              >
                {{ $t(cardAnswersFinal[1-1] ? '680℃' : '???') }}
              </div>
              <div
                :class="{'process-question-card__body__way': true, '--disabled': true}"
              >
                {{ $t('0ч') }}
              </div>
              <AnswerButton
                v-if="cardWays[1-1]=='t' && !cardAnswersFinal[1-1]"
                :label="$t('680℃')"
                :active="cardAnswers[1-1] === 1"
                @button-click="setCardAnswer(1, 1)"
              ></AnswerButton>
              <AnswerButton
                v-if="cardWays[1-1]=='t' && !cardAnswersFinal[1-1]"
                :label="$t('820℃')"
                :active="cardAnswers[1-1] === 2"
                @button-click="setCardAnswer(1, 2)"
              ></AnswerButton>
              <div
                v-if="cardWays[1-1]!='' && !cardAnswersFinal[1-1]"
                class="button-simple"
                @click="confirmCardAnswer(1)"
              >
                {{ $t('Выбрать') }}
              </div>
            </div>
          </div>
          <div class="process-question-card process-question-card--2">
            <div class="process-question-card__title">{{ $t('Методическая зона, верх') }}</div>
            <div class="process-question-card__body">
              <div
                :class="{
                  'process-question-card__body__way': true,
                  '--q': !cardAnswersFinal[2-1],
                  '--disabled': cardWays[2-1]=='h' && (!cardAnswersFinal[2-1] || !cardAnswersFinal[3-1])
                }"
                @click="selectCardWay(2, 't')"
              >
                {{ $t(cardAnswersFinal[2-1] ? '1000℃' : '???') }}
              </div>
              <div
                :class="{
                  'process-question-card__body__way': true,
                  '--q': !cardAnswersFinal[3-1],
                  '--disabled': cardWays[2-1]=='t' && (!cardAnswersFinal[2-1] || !cardAnswersFinal[3-1])
                }"
                @click="selectCardWay(2, 'h')"
              >
                {{ $t(cardAnswersFinal[3-1] ? '6ч' : '???') }}
              </div>

              <AnswerButton
                v-if="cardWays[2-1]=='t' && !cardAnswersFinal[2-1]"
                :label="$t('1000℃')"
                :active="cardAnswers[2-1] === 1"
                @button-click="setCardAnswer(2, 1)"
              ></AnswerButton>
              <AnswerButton
                v-if="cardWays[2-1]=='t' && !cardAnswersFinal[2-1]"
                :label="$t('1400℃')"
                :active="cardAnswers[2-1] === 2"
                @button-click="setCardAnswer(2, 2)"
              ></AnswerButton>

              <AnswerButton
                v-if="cardWays[2-1]=='h' && !cardAnswersFinal[3-1]"
                :label="$t('6ч')"
                :active="cardAnswers[3-1] === 1"
                @button-click="setCardAnswer(3, 1)"
              ></AnswerButton>
              <AnswerButton
                v-if="cardWays[2-1]=='h' && !cardAnswersFinal[3-1]"
                :label="$t('4ч')"
                :active="cardAnswers[3-1] === 2"
                @button-click="setCardAnswer(3, 2)"
              ></AnswerButton>

              <div
                v-if="cardWays[2-1]=='t' && !cardAnswersFinal[2-1]"
                class="button-simple"
                @click="confirmCardAnswer(2)"
              >
                {{ $t('Выбрать') }}
              </div>
              <div
                v-if="cardWays[2-1]=='h' && !cardAnswersFinal[3-1]"
                class="button-simple"
                @click="confirmCardAnswer(3)"
              >
                {{ $t('Выбрать') }}
              </div>
            </div>
          </div>
          <div class="process-question-card process-question-card--3 --disabled">
            <div class="process-question-card__title">{{ $t('Сварочная зона, верх') }}</div>
            <div class="process-question-card__body">
              <div
                :class="{'process-question-card__body__way': true}"
              >
                {{ $t('1250℃') }}
              </div>
              <div
                :class="{'process-question-card__body__way': true}"
              >
                {{ $t('9ч') }}
              </div>
            </div>
          </div>
          <div class="process-question-card process-question-card--4 --disabled">
            <div class="process-question-card__title">{{ $t('Томильная зона') }}</div>
            <div class="process-question-card__body">
              <div class="process-question-card__body__way">
                {{ $t('1250℃') }}
              </div>
              <div class="process-question-card__body__way">
                {{ $t('9ч') }}
              </div>
            </div>
          </div>
          <div class="process-question-card process-question-card--5">
            <div class="process-question-card__title">{{ $t('Методическая зона, низ') }}</div>
            <div class="process-question-card__body">
              <div class="process-question-card__body__way">
                {{ $t('870℃') }}
              </div>
              <div
                :class="{'process-question-card__body__way': true, '--q': !cardAnswersFinal[4-1]}"
                @click="selectCardWay(3, 'h')"
              >
                {{ $t(cardAnswersFinal[4-1] ? '7ч' : '???') }}
              </div>
              <AnswerButton
                v-if="cardWays[3-1]=='h' && !cardAnswersFinal[4-1]"
                :label="$t('7ч')"
                :active="cardAnswers[4-1] === 1"
                @button-click="setCardAnswer(4, 1)"
              ></AnswerButton>
              <AnswerButton
                v-if="cardWays[3-1]=='h' && !cardAnswersFinal[4-1]"
                :label="$t('9ч')"
                :active="cardAnswers[4-1] === 2"
                @button-click="setCardAnswer(4, 2)"
              ></AnswerButton>
              <div
                v-if="cardWays[3-1]!='' && !cardAnswersFinal[4-1]"
                class="button-simple"
                @click="confirmCardAnswer(4)"
              >
                {{ $t('Выбрать') }}
              </div>
            </div>
          </div>
          <div class="process-question-card process-question-card--6 --disabled">
            <div class="process-question-card__title">{{ $t('Сварочная зона, низ') }}</div>
            <div class="process-question-card__body">
              <div class="process-question-card__body__way">
                {{ $t('1200℃') }}
              </div>
              <div class="process-question-card__body__way">
                {{ $t('9ч') }}
              </div>
            </div>
          </div>
        </div>

        <span
            :class="{'step-1__next': true, 'button-final': true, 'button-final--disabled': !step1Ended()}"
            @click="finishStep1"
        >{{ $t('Готово') }}</span>

        <svg
          class="step-1__info-activate"
          @click="toggleLegend"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        >
          <rect width="24" height="24" rx="4" fill="#6C3BF0"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 10C10.8954 10 10 10.8954 10 12V18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18L14 12C14 10.8954 13.1046 10 12 10ZM12 5C10.8954 5 10 5.89543 10 7C10 8.10457 10.8954 9 12 9C13.1046 9 14 8.10457 14 7C14 5.89543 13.1046 5 12 5Z" fill="white"/>
        </svg>
        <Transition name="fade">
          <div class="legend-popup" v-if="isLegendOpen">
            <div class="legend-popup__data">
              <div class="legend-popup__data__head">{{ $t('Зона печи') }}</div>
              <div class="legend-popup__data__head">{{ $t('Время нагрева/ч') }}</div>
              <div class="legend-popup__data__head">{{ $t('Температура') }}</div>
              <div class="legend-popup__data__body">{{ $t('У посадочного окна') }}</div>
              <div class="legend-popup__data__body">{{ $t('-') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не более 700') }}</div>
              <div class="legend-popup__data__body">{{ $t('Методическая верх') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не менее 6,0 часов') }}</div>
              <div class="legend-popup__data__body">{{ $t('850-1030') }}</div>
              <div class="legend-popup__data__body">{{ $t('Методическая низ') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не менее 6,0 часов') }}</div>
              <div class="legend-popup__data__body">{{ $t('850-1050') }}</div>
              <div class="legend-popup__data__body">{{ $t('Сварочная верх') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не менее 9,0 часов') }}</div>
              <div class="legend-popup__data__body">{{ $t('1230-1270') }}</div>
              <div class="legend-popup__data__body">{{ $t('Сварочная низ') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не менее 9,0 часов') }}</div>
              <div class="legend-popup__data__body">{{ $t('1240-1290') }}</div>
              <div class="legend-popup__data__body">{{ $t('Томильная') }}</div>
              <div class="legend-popup__data__body">{{ $t('Не менее 3,0 часов') }}</div>
              <div class="legend-popup__data__body">{{ $t('1240-1280') }}</div>
            </div>
            <img
              :src="$m('/images/ui/close.svg')"
              alt="Close icon"
              class="legend-popup__close"
              @click="toggleLegend"
            />
          </div>
        </Transition>
        
        <Transition name="fade">
          <ModalDialog v-if="isStep1ModalOpen" :width="880">
            <div class="dialog-final">
              <div class="dialog-final__content">
                <div class="dialog-final__content__title headline-32">{{ $t('Это было горячо!') }}</div>
                <div class="dialog-final__content__text main-text-16" v-html="$t(`
                <p>
                  Вы отлично справились с подбором температур. Кстати, в реальности металлурги тоже пользуются справочными материалами и таблицами.
                  </p>
                `)">
                </div>
                <span class="dialog-final__content__btn button-final" @click="startStep2">{{ $t('Продолжить') }}</span>
              </div>
              <div
                class="dialog-final__art"
                :style="`background: url(${$m(
                  '/images/process-modal-1.png'
                )}) center/cover no-repeat;`"
              >

              </div>
            </div>
          </ModalDialog>
        </Transition>
      </div>

      <!-- STEP 2 -->
      <div class="step-2" v-if="taskStep === 2">
        <div class="process__header panel">
          <div class="process__header__title main-text-16">
            {{ $t('Часть 2') }}
          </div>
          <div class="headline-24">
            {{ $t('Посчитайте длину итогового изделия') }}
          </div>
        </div>

        <div class="step-2__columns">
          <div class="panel">
            <div
              class="step-2__left-text"
              v-html="$t(`<strong>Закон постоянства объёмов</strong> — закон, согласно которому объём тела при его пластической деформации остаётся практически неизменным, а значит меняется только форма.`)"
            >
              
            </div>
            <div class="step-2__left-order" v-html="$t(`<strong>Заготовка:</strong> 340х340х3000 мм<br><strong>Заказ:</strong> <span>прокат квадратного профиля 170х170 мм, длиной 3-6 м</span>`)">

            </div>
            <img class="step-2__left-img" :src="$m('/images/process-step-2-img.svg')" alt="image"/>
          </div>
          <div class="panel" :style="{minHeight: '526px'}">
            <div class="step-2-quiz">
              <div class="step-2-quiz__task-1">
                <div class="_container">
                  <div class="step-2-quiz__task-title">
                    {{ $t('Посчитайте общий объём металлической заготовки:') }}
                  </div>
                  <div class="step-2-quiz__task-text">
                    {{ $t('Vзаг = 340 * 340 * 3000 = ') }}
                  </div>
                  <div class="step-2-quiz__task-answers">
                    <AnswerButton
                      :label="$t('346 800 000 мм<sup>3</sup>')"
                      :active="step2Task1Answer === 1"
                      :fixed="step2Task1Answer === 1 && step2Stage > 1"
                      @button-click="step2Task1SetAnswer(1)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('346 800 мм<sup>3</sup>')"
                      :active="step2Task1Answer === 2"
                      :disabled="step2Stage > 1"
                      @button-click="step2Task1SetAnswer(2)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('320 000 000 мм<sup>3</sup>')"
                      :active="step2Task1Answer === 3"
                      :disabled="step2Stage > 1"
                      @button-click="step2Task1SetAnswer(3)"
                    ></AnswerButton>
                    <div
                      :class="{'button-simple': true, '--disabled': step2Stage > 1}"
                      @click="confirmStep2Task1Answer"
                    >
                      {{ $t(step2Stage > 1 ? 'Готово' : 'Выбрать') }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="step-2-quiz__task-2">
                <div v-if="step2Stage < 2" class="_blank">
                  <img :src="$m('/images/process-step-2-blank-task-123.svg')" alt="image"/>
                </div>
                <div v-else class="_container">
                  <div
                    class="step-2-quiz__task-title"
                    v-html="$t('Найдём коэффициент деформации. Разделите размеры <span>до деформации</span> на размеры <span>после:</span>')"
                  >
                  </div>
                  <div class="step-2-quiz__task-text">
                    <img :src="$m('/images/process-step-2-task-2-q.svg')" alt="image">
                  </div>
                  <div class="step-2-quiz__task-answers">
                    <AnswerButton
                      :label="$t('8')"
                      :active="step2Task2Answer === 1"
                      :disabled="step2Stage > 2"
                      @button-click="step2Task2SetAnswer(1)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('4')"
                      :active="step2Task2Answer === 2"
                      :fixed="step2Task2Answer === 2 && step2Stage > 2"
                      @button-click="step2Task2SetAnswer(2)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('2')"
                      :active="step2Task2Answer === 3"
                      :disabled="step2Stage > 2"
                      @button-click="step2Task2SetAnswer(3)"
                    ></AnswerButton>
                    <div
                      :class="{'button-simple': true, '--disabled': step2Stage > 2}"
                      @click="confirmStep2Task2Answer"
                    >
                      {{ $t(step2Stage > 2 ? 'Готово' : 'Выбрать') }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="step-2-quiz__task-3">
                <div v-if="step2Stage < 3" class="_blank">
                  <img :src="$m('/images/process-step-2-blank-task-123.svg')" alt="image"/>
                </div>
                <div v-else class="_container">
                  <div class="step-2-quiz__task-title">
                    {{ $t('Какой длины получится деталь после проката, если длина заготовки равнялась 3000 мм?') }}
                  </div>
                  <div class="step-2-quiz__task-text">
                    {{ $t('Lпр = Lзаг * Кд') }}<br>
                    {{ $t('Lпр = 3000 мм * 4 =') }}
                  </div>
                  <div class="step-2-quiz__task-answers">
                    <AnswerButton
                      :label="$t('120 м')"
                      :active="step2Task3Answer === 1"
                      :disabled="step2Stage > 3"
                      @button-click="step2Task3SetAnswer(1)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('12 м')"
                      :active="step2Task3Answer === 2"
                      :fixed="step2Task3Answer === 2 && step2Stage > 3"
                      @button-click="step2Task3SetAnswer(2)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('12 000 м')"
                      :active="step2Task3Answer === 3"
                      :disabled="step2Stage > 3"
                      @button-click="step2Task3SetAnswer(3)"
                    ></AnswerButton>
                    <div
                      :class="{'button-simple': true, '--disabled': step2Stage > 3}"
                      @click="confirmStep2Task3Answer"
                    >
                      {{ $t(step2Stage > 3 ? 'Готово' : 'Выбрать') }}
                    </div>
                  </div>
                </div>
              </div>
              <div :class="{'step-2-quiz__task-4': true, 'step-2-quiz__task-4--active': step2Stage >= 4}">
                <div v-if="step2Stage < 4" class="_blank">
                  <img :src="$m('/images/process-step-2-blank-task-4.svg')" alt="image"/>
                  <img class="_btn" :src="$m('/images/process-step-2-blank-task-4-button.svg')" alt="image"/>
                </div>
                <div v-else class="_task-4-container">
                  <div class="step-2-quiz__task-title">
                    {{ $t('Проверим, всё ли правильно? Разделим объём на длину и получим площадь сечения:') }}
                  </div>
                  <div class="step-2-quiz__task-text" v-html="$t('346 800 000 мм<sup>3</sup> / 12 000 мм = ')">
                    
                  </div>
                  <div class="step-2-quiz__task-answers">
                    <AnswerButton
                      :label="$t('28 900 мм<sup>2</sup>')"
                      :active="step2Task4Answer === 1"
                      :fixed="step2Task4Answer === 1 && step2Stage > 4"
                      @button-click="step2Task4SetAnswer(1)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('32 500 мм<sup>2</sup>')"
                      :active="step2Task4Answer === 2"
                      :disabled="step2Stage > 4"
                      @button-click="step2Task4SetAnswer(2)"
                    ></AnswerButton>
                    <AnswerButton
                      :label="$t('46 500 мм<sup>2</sup>')"
                      :active="step2Task4Answer === 3"
                      :disabled="step2Stage > 4"
                      @button-click="step2Task4SetAnswer(3)"
                    ></AnswerButton>
                    <div
                      :class="{'button-simple': true, '--disabled': step2Stage > 4}"
                      @click="confirmStep2Task4Answer"
                    >
                      {{ $t(step2Stage > 4 ? 'Готово' : 'Подтвердить') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <BannerStandard
          v-if="step2Stage > 4"
          :title="$t('Готово!')"
          :text="$t('Вы проверили все размеры и убедились, что после проката металлическая деталь идеальна. Теперь её нужно нарезать.')"
          :label="$t('Далее')"
          @label-click="startStep3"
        ></BannerStandard>
      </div>

      <!-- STEP 3 -->
      <div class="step-3" v-if="taskStep === 3">
        <div class="step-3__header">  
          <div class="panel">
            <div class="main-text-16">
              {{ $t('Часть 2') }}
            </div>
            <div class="headline-24">
              {{ $t('Этап резки') }}
            </div>
          </div>
          <div class="panel">
            <div class="headline-20" v-html="$t('Нарежьте на равные части<br> от 3 до 6 метров')">
            </div>
          </div>
        </div>
        <div class="step-3__body panel">
          <span
            :class="{'step-3__next': true, 'button-final': true, 'button-final--disabled': !step3Ended}"
            @click="finishStep3"
          >{{ $t('Готово') }}</span>

          <Process__cut
            @finish="toggleToFinish"
            @wrongCase="showCutError"
          ></Process__cut>

        </div>

        <Transition name="fade">
          <ModalDialog v-if="isStep3ModalOpen" :width="880">
            <div class="dialog-final">
              <div class="dialog-final__content">
                <div class="dialog-final__content__title headline-32">{{ $t('Какой холодный расчёт!') }}</div>
                <div class="dialog-final__content__text main-text-16" v-html="$t(`
                <p>
                  Кстати о холодном — после проката<br>
                  раскалённый металл надо остудить.<br>
                  Давайте решим, как это лучше сделать?
                </p>
                `)">
                </div>
                <span
                  class="dialog-final__content__btn button-final"
                  @click="nextStep"
                >{{ $t('Продолжить') }}</span>
              </div>
              <div
                class="dialog-final__art"
                :style="`background: url(${$m(
                  '/images/process-modal-3.png'
                )}) center/cover no-repeat;`"
              >

              </div>
            </div>
          </ModalDialog>
        </Transition>
      </div>
    </section>
  </main>
</template>

<script setup>

import { inject, defineEmits, ref } from 'vue'
import ModalDialog from '../../ui/ModalDialog.vue'
import InformerPopup from '../../ui/InformerPopup.vue'
import BannerStandard from '../../ui/BannerStandard.vue'
import AnswerButton from '../../ui/AnswerButton.vue'
import Process__cut from './Process__cut.vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emit = defineEmits(['next'])

const taskStep = ref(1)
const isLegendOpen = ref(false)
const isStep1ModalOpen = ref(false)
const isStep3ModalOpen = ref(false)
const cardWays = ref(['', '', ''])
const cardAnswers = ref([0, 0, 0, 0])
const cardAnswersFinal = ref([0, 0, 0, 0])
const cardCorrectAnswers = [1, 1, 1, 1]
const wrongAnswer = ref(false)
const errorType = ref('')
const step2Stage = ref(1)
const step2Task1Answer = ref('')
const step2Task2Answer = ref('')
const step2Task3Answer = ref('')
const step2Task4Answer = ref('')

const step3Ended = ref(false)

const toggleLegend = () => {
  isLegendOpen.value = !isLegendOpen.value
}

const hideError = () => {
  wrongAnswer.value = false
}

const showCutError = () => {
  console.log('test!!')
  errorType.value = 'cut'
  wrongAnswer.value = true
}

const showError = () => {
  errorType.value = ''
  wrongAnswer.value = true
}

const step1Ended = () => {
  if (cardAnswersFinal.value.reduce((partialSum, a) => partialSum + a, 0) > 3)
    return true
}

const finishStep1 = () => {
  if (step1Ended()) isStep1ModalOpen.value = true
}

const selectCardWay = (cardNum, way) => {
  cardWays.value[cardNum-1] = way
}

const setCardAnswer = (cardNum, answer) => {
  wrongAnswer.value = false
  cardAnswers.value[cardNum-1] = answer
}

const confirmCardAnswer = (qNum) => {
  wrongAnswer.value = false
  if (cardAnswers.value[qNum-1] == cardCorrectAnswers[qNum-1]) {
    cardAnswersFinal.value[qNum-1] = cardAnswers.value[qNum-1]
    cardWays.value[1] = ''
    return true
  }
  else
    wrongAnswer.value = true
}

const startStep2 = () => {
  taskStep.value = 2
}

const step2Task1SetAnswer = (num) => {
  step2Task1Answer.value = num
}

const confirmStep2Task1Answer = () => {
  wrongAnswer.value = false
  if (step2Task1Answer.value === 1) {
    step2Stage.value++
  } else wrongAnswer.value = true
}

const step2Task2SetAnswer = (num) => {
  step2Task2Answer.value = num
}

const confirmStep2Task2Answer = () => {
  wrongAnswer.value = false
  if (step2Task2Answer.value === 2) {
    step2Stage.value++
  } else wrongAnswer.value = true
}

const step2Task3SetAnswer = (num) => {
  step2Task3Answer.value = num
}

const confirmStep2Task3Answer = () => {
  wrongAnswer.value = false
  if (step2Task3Answer.value === 2) {
    step2Stage.value++
  } else wrongAnswer.value = true
}

const step2Task4SetAnswer = (num) => {
  step2Task4Answer.value = num
}

const confirmStep2Task4Answer = () => {
  wrongAnswer.value = false
  if (step2Task4Answer.value === 1) {
    step2Stage.value++
  } else wrongAnswer.value = true
}

const startStep3 = () => {
  taskStep.value = 3
}

const toggleToFinish = () => {
  step3Ended.value = true
}

const finishStep3 = () => {
  if (step3Ended.value) isStep3ModalOpen.value = true
}

const nextStep = () => {
  window.localStorage.setItem('metalurg_block', '3')
  emit('next')
}

</script>