<template>
  <main>
    <section class="section technology">
      <div>
        <div class="panel technology__col-1">
          <div class="main-text-16 technology__col-1__pre-title">
            {{ $t('Часть 1') }}
          </div>
          <div class="headline-24 technology__col-1__title">
            {{ $t('Технология') }}
          </div>
          <div class="main-text-16 technology__col-1__text-1">
            {{ $t('Чтобы сделать из заготовки металл с идеальными качествами, нужно пройти немало шагов.') }}
          </div>
          <div class="technology__col-1__text-2">
            {{ $t('Определите, о каком технологическом процессе идет речь?') }}
          </div>
        </div>
      </div>

      <div class="panel technology__col-2">
        <div class="technology-items">
          <div :class="{'--passed': checkQuizAnswerPassed(1)}">
            <img class="technology-items__img" :src="$m('/images/tech-1.png')">
            <div class="technology-items__title headline-16">{{ $t('Нагрев') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(2)}">
            <img class="technology-items__img" :src="$m('/images/tech-2.png')">
            <div class="technology-items__title headline-16">{{ $t('Прокат') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(3)}">
            <img class="technology-items__img" :src="$m('/images/tech-3.png')">
            <div class="technology-items__title headline-16">{{ $t('Порезка') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(4)}">
            <img class="technology-items__img" :src="$m('/images/tech-4.png')">
            <div class="technology-items__title headline-16">{{ $t('Отбор проб') }}</div>
          </div>
          <div  :class="{'--passed': checkQuizAnswerPassed(5)}">
            <img class="technology-items__img" :src="$m('/images/tech-5.png')">
            <div class="technology-items__title headline-16">{{ $t('Охлаждение') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(6)}">
            <img class="technology-items__img" :src="$m('/images/tech-6.png')">
            <div class="technology-items__title headline-16">{{ $t('Термообработка') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(7)}">
            <img class="technology-items__img" :src="$m('/images/tech-7.png')">
            <div class="technology-items__title headline-16">{{ $t('Правки, обточка и финальная приемка') }}</div>
          </div>
          <div :class="{'--passed': checkQuizAnswerPassed(8)}">
            <img class="technology-items__img" :src="$m('/images/tech-8.png')">
            <div class="technology-items__title headline-16">{{ $t('Упаковка и передача на склад') }}</div>
          </div>                    
        </div>
      </div>

      <div>
        <div class="panel technology-quiz">
          <div class="technology-quiz__questions">
            <div class="technology-quiz__questions__progress">
              <span class="_left">{{ $t('Сопоставьте вариант с описанием') }}</span>
              <span class="_right">{{ (quizStep+1<9?quizStep+1:8) }}/8</span>
            </div>    
            <div v-if="quizStep+1 === 1" class="technology-quiz__questions__desc">
              {{ $t('Процесс, при котором слитки в печи доходят до температуры пластической деформации') }}
            </div>
            <div v-else-if="quizStep+1 === 2" class="technology-quiz__questions__desc">
              {{ $t('Деформирование металла с помощью специальной машины — прокатного стана') }}
            </div>
            <div v-else-if="quizStep+1 === 3" class="technology-quiz__questions__desc">
              {{ $t('Этап разделения проката на требуемую длину') }}
            </div>
            <div v-else-if="quizStep+1 === 4" class="technology-quiz__questions__desc">
              {{ $t('Проверка металла на качество. Эту задачу могут выполнять несколько раз: после порезки проката, охлаждения и термообработки') }}
            </div>
            <div v-else-if="quizStep+1 === 5" class="technology-quiz__questions__desc">
              {{ $t('Этап, на котором горячий прокат остывает на открытом воздухе либо в специальных термических колодцах') }}
            </div>
            <div v-else-if="quizStep+1 === 6" class="technology-quiz__questions__desc">
              {{ $t('Процесс нагрева, выдержки и охлаждения изделия, чтобы изменилась внутренняя структура металла и получились идеальные свойства') }}
            </div>
            <div v-else-if="quizStep+1 === 7" class="technology-quiz__questions__desc">
              {{ $t('Этап, на котором металл при необходимости обтачивают, зачищают дефекты и готовят к отправке клиенту') }}
            </div>
            <div v-else-if="quizStep+1 === 8 || quizStep+1 === 9" class="technology-quiz__questions__desc">
              {{ $t('Последний шаг: готовый металлический прокат можно отправлять заказчику') }}
            </div>
          </div>

          <ul class="technology-quiz__variants">
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(8),
                '--wrong': wrongAnswer === 8
              }"
              @click="selectQuizAnswer(8)"
            >
              {{ $t('Упаковка и передача на склад') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(2),
                '--wrong': wrongAnswer === 2
              }"
              @click="selectQuizAnswer(2)"
            >
              {{ $t('Прокат') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(6),
                '--wrong': wrongAnswer === 6
              }"
              @click="selectQuizAnswer(6)"
            >
              {{ $t('Термообработка') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(4),
                '--wrong': wrongAnswer === 4
              }"
              @click="selectQuizAnswer(4)"
            >
              {{ $t('Отбор проб') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(5),
                '--wrong': wrongAnswer === 5
              }"
              @click="selectQuizAnswer(5)"
            >
              {{ $t('Охлаждение') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(7),
                '--wrong': wrongAnswer === 7
              }"
              @click="selectQuizAnswer(7)"
            >
              {{ $t('Правки, обточка и финальная приёмка') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(1),
                '--wrong': wrongAnswer === 1
              }"
              @click="selectQuizAnswer(1)"
            >
              {{ $t('Нагрев') }}
            </li>
            <li
              :class="{
                'technology-quiz__variants__item': true,
                '--passed': checkQuizAnswerPassed(3),
                '--wrong': wrongAnswer === 3
              }"
              @click="selectQuizAnswer(3)"
            >
              {{ $t('Порезка') }}
            </li>
          </ul>
        </div>
      </div>

      <Transition name="fade">
        <InformerPopup
          v-if="wrongAnswer"
          :width="880"
          :title="'Ой, это неверный вариант!'"
          :text="'Загляните в справочник, если не получается выбрать правильный ответ.'"
          :error="true"
          @close="hideError"
        >  
        </InformerPopup>
      </Transition>

      <BannerStandard
        v-if="quizStep >= 8"
        :title="$t('Готово!')"
        :text="$t('Нагрев металла очень похож на приготовление пирога: сначала печь надо разогреть, загрузить туда «тесто», а в конце — дать потомиться. Температура и время запекания будут зависеть от начинки — иначе пирог сгорит или не пропечётся.')"
        :label="$t('Готово')"
        @label-click="nextStep"
      ></BannerStandard>
    </section>
  </main>
</template>

<script setup>
import { inject, defineEmits, ref } from 'vue'
import BannerStandard from '../../ui/BannerStandard.vue'
import InformerPopup from '../../ui/InformerPopup.vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emit = defineEmits(['next'])

const quizStep = ref(0)
const wrongAnswer = ref(0)

const nextQuizStep = () => {
  quizStep.value++
}

const selectQuizAnswer = (num) => {
  wrongAnswer.value = 0
  if (num === quizStep.value+1) quizStep.value++
  else {
    wrongAnswer.value = num
  }
}

const checkQuizAnswerPassed = (num) => {
  return num <= quizStep.value
}

const nextStep = () => {
  window.localStorage.setItem('metalurg_block', '2')
  emit('next')
}

const hideError = () => {
  wrongAnswer.value = false
}

</script>