<template>
  <component id="metalurg" :is="screens[currentScreen]" @finish="goToFinal()" @next="currentScreen++" />
</template>

<script setup>
import { inject, onMounted, ref, markRaw } from 'vue'
import Intro from './screens/Intro.vue'
import Technology from './screens/Technology.vue'
import Process from './screens/Process.vue'
import Cooling from './screens/Cooling.vue'
import Heat from './screens/Heat.vue'

// eslint-disable-next-line no-unused-vars
const $t = inject('translate')
// eslint-disable-next-line no-unused-vars
const $l = inject('log')
// eslint-disable-next-line no-unused-vars
const $m = inject('media')

const emits = defineEmits(['finish'])

let currentScreen = ref(0)

let metalurgBlock = parseInt(window.localStorage.getItem('metalurg_block'))
if (metalurgBlock) {
  currentScreen = ref(metalurgBlock)
}

const screens = ref([
  markRaw(Intro),
  markRaw(Technology),
  markRaw(Process),
  markRaw(Cooling),
  markRaw(Heat)
])

const goToFinal = () => {
  emits('final')
  window.localStorage.clear()
}

onMounted(() => {
  $l('SYSTEM', 'session_created')
})
</script>
