<script setup>
import Body from './lib/components/Body.vue'
import { provide } from 'vue'

provide('media', (path) => {
  return path
})

provide('log', (type, action) => {
  console.log({
    type: type,
    action: action,
    user_id: 1,
    created_at: new Date().toISOString(),
    probe_id: 1,
  })
})

provide('translate', (key) => {
  return key
})
</script>

<template>
  <div>
    <Body />
  </div>
</template>
